<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>数据字典维护</title>
<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
<script type="text/javascript" src="../assets/js/jquery-1.10.2.min.js"></script>
<style>
.preview>ul.lt {
	width: 24%;
}

.preview>ol.lt {
	width: 76%;
}

.preview>ul, .preview>ol {
	border: 1px solid #000;
}

.preview>ul>li>span:first-child, .preview>ol p>span:first-child {
	margin-right: 20px;
}

.preview>ul>li:hover, .preview>ol p:hover, .preview>ul>li.active,
	.preview>ol p.active {
	background: #000000;
	color: #fff;
}

.preview>ol>li .box {
	padding-right: 2vw;
	padding-left: 1vw;
}

input {
	background: transparent;
	border: none;
	color: #fff;
}

input:hover {
	background: #fff;
	border: none;
	color: #000;
}
</style>
</head>

<body>
	<div class="preview overflow">
		<ul class="lt">
			<li class="active"><b class="none">dm_education</b> <span>1</span>学历</li>
			<li><b class="none">dm_area</b> <span>2</span> 地区</li>
			<li><b class="none"></b> <span>3</span>宾客类别</li>
			<li><b class="none">dm_district</b> <span>4</span>行政区</li>
			<li><b class="none">dm_menu_type</b> <span>5</span>套餐类型</li>
			<li><b class="none">dm_meals_time</b> <span>6</span>用餐时间分类</li>
			<li><b class="none">dm_meals_type</b> <span>7</span>用餐方式分类</li>
			<li><b class="none">dm_meals_standard</b> <span>8</span>用餐标准分类</li>
			<li><b class="none">dm_nation</b> <span>9</span>民族</li>
			<li><b class="none"></b><span>10</span>籍贯</li>
			<li><b class="none"></b><span>11</span>楼层</li>
			<li><b class="none">dm_room_type</b> <span>12</span>房间类型</li>
			<li><b class="none">dm_room_special_type</b> <span>13</span>房间特殊类型</li>
			<li><b class="none">dm_conference_type</b> <span>14</span>会议室类型</li>
		</ul>
		<ol class="lt">
			<li>
				<div id="box" class="box overflow"></div>
			</li>
		</ol>
		<button class="save" onclick="addColumn()">新增</button>
	</div>
</body>

<script type="text/javascript">
	$(".preview>ul").on("click", "li", function() {
		$(this).addClass('active').siblings('li').removeClass('active');
		var dic_name = $(this).find("b").text();
		//console.log(dic_name);
		if (dic_name != '') {
			$.get('../../dic',
				{
					tableName : dic_name
				},
				function(result) {
					//console.log(result);
					$("#box").empty();
					for (var i = 0, len = result.length; i < len; i++) {
						$("#box").append("<p class='overflow'><span class='lt'>" + result[i].value + "</span>"
						+"<input type=\"text\" value='" + result[i].name + "' class='lt'>"
						+"<button  class=\"del\"  onclick='del(this)' class=\"rt\">删除</button><button class=\"save\" onclick='submit(this)' class=\"rt\">保存</button></p>");
					}
				}
			);
		} else {
			$("#box").empty();
		}
	/*	var num = $(this).index();
		$(".preview>ol>li").each(function(i){
			if(i == num){
				var el = $(".preview>ol>li")[i];
				$(el).show().siblings('li').hide()
			} 
		}) */
	})

	//新增
	function addColumn() {
		$("#box").append("<p class='overflow'><input type=\"text\" value='' class='lt value' /><input name='name' type=\"text\" value='' class='lt name' /><button class=\"empty\" onclick='removeColumn(this)' class=\"rt\">移除</button><button class=\"save\" onclick='add(this)' class=\"rt\">保存</button></p>");
	}
	function add(button) {
		var li = $(".preview>ul>li.active");
		var tableName = li.find("b").text().trim();
		var value = $(button).parent('p').find("input.value").val().trim();
		var name = $(button).parent('p').find("input.name").val().trim();
		//console.log(tableName + value + name);
		if (value != '' && name != '') {
			$.ajax({
				url : '../../dic',
				type : 'post',
				data : {
					"name" : name,
					"value" : value,
					"tableName" : tableName
				},
				success : function(result) {
					//console.log(result);
					if (result == "true") {
						alert("添加成功");
					} else if (result == "exist") {
						alert("键值已存在");
						$(button).parent('p').find("input.value").val("");
					}
				},
				error : function(XMLHttpRequest, textStatus, errorThrown) {
					console.log("ERROR:" + XMLHttpRequest.status, XMLHttpRequest.readyState, textStatus);
				}
			});
		} else {
			alert("值为空~");
		}
	}
	function removeColumn(button) {
		var p = $(button).parent('p');
		p.remove();
	}

	//修改
	function submit(button) {
		var li = $(".preview>ul>li.active");
		var tableName = li.find("b").text().trim();
		var value = $(button).parent('p').find('span').text().trim();
		var name = $(button).parent('p').find('input').val().trim();
		//console.log(name+value);

		$.ajax({
			url : '../../dic',
			type : 'Put',
			data : {
				name : name,
				value : value,
				tableName : tableName
			},
			success : function(result) {
				if (result == true) {
					alert("修改成功");
				}
			}
		});
	}

	function del(button) {
		var r = confirm("确定删除吗？");
		if (r == true) {
			var li = $(".preview>ul>li.active");
			var tableName = li.find("b").text().trim();
			var value = $(button).parent('p').find('span').text().trim();
			var name = $(button).parent('p').find('input').val().trim();
			//console.log(tableName);

			$.ajax({
				url : '../../dic/delete',
				type : 'post',
				data : {
					name : name,
					value : value,
					tableName : tableName
				},
				success : function(result) {
					if (result == true) {
						alert("删除成功");

						var dic_name = tableName;
						if (dic_name != '') {
							$.get('../../dic',
								{
									tableName : dic_name
								},
								function(result) {
									//console.log(result);
									$("#box").empty();
									for (var i = 0, len = result.length; i < len; i++) {
										$("#box").append("<p class='overflow'><span class='lt'>" + result[i].value + "</span><input type=\"text\" value='" + result[i].name + "' class='lt'><button onclick='del(this)' class=\"rt\">删除</button><button onclick='submit(this)' class=\"rt\">保存</button></p>");
									}
								}
							);
						} else {
							$("#box").empty();
						}
					}
				}
			});
		}
		}
</script>
</html>