<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/icon.css" /> 
		<link rel="stylesheet" type="text/css" href="../assets/css/pagination.css" /> 
		
		<script type="text/javascript" src="../assets/js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="../assets/js/pagination.min.js"></script>
		<script type="text/javascript" src="../assets/js/Calendar.js"></script>
		<script type="text/javascript" src="./js/guestInformation.js"></script>
		<style>
			#files:checked{
				
			}
			
		</style>
	</head>
	<body>
		<div class="operationsArea">
			<div class="buttons">
					<button onclick="add_guest()" class="active">
						<u class="xz"></u>
						新增
					</button>
					<button onclick="edit_guest()">
						<u class="bj"></u>
						编辑
					</button>
					<button onclick="delete_guest()">
						<u class="sc"></u>
						删除
					</button>
					<button onclick="select_detail()">
						<u class="dyyl"></u>
						    查看详情
					</button>
					<button>
						<u class="dy"></u>
						
						打印
					</button>
					<label for="file">
						<u class="dr"></u>
						<input type="file" name="file" id="file_excel"  onchange="import_Excel(this);">
						导入
					</label>
					<!-- <button  onclick="import_Excel()" style="position:relative;" id='files'></button> -->
					<button  onclick="export_guest()">
						<u class="dc"></u>
						导出
					</button>
			</div>
		<div class="tab">
			<table class="table" cellspacing="0">
				<thead>
					<tr>
						<th>选择</th>
						<th>宾客姓名</th>
						<th>主职务</th>
						<th>副职务</th>
						<th>任职地区</th>
						<!-- <th>性别</th> -->
						<th>出生日期</th>
						<!-- <th>民族</th> 
						<!-- <th>学历</th> -->
						<th>籍贯</th>
						<th>联系电话</th>
						<th>家庭/办公电话</th>
						<th>邮件地址</th>
						<th>家庭地址</th>
						<th>宾客类型</th>
						<th>备注</th>
					</tr>
				</thead>
				
				<tbody id="guest_info">						 
				  <!--添加内容-->
					<!-- <tr>
					<td  id= "id" style="display:none"></td>
						<td id="guest_name" value="000">宾客姓名</td>
						<td id="main_position">主职务</td>
						<td id="deputy_position">副职务</td>
						<td id="office_area">任职地区</td>
						<td id="sex">性别</td>
						<td id="birth_date">出生日期</td>
						<td id="nation">民族</td>
						<td id="education">学历</td>
						<td id="origin_place">籍贯</td>
						<td id="telphone">联系电话</td>
						<td id="phone">家庭/办公电话</td>
						<td id="email">邮件地址</td>
						<td id="address">家庭地址</td>
						<td id="guest_type">宾客类型</td>
						<td id="remark">备注</td>
					</tr> -->
				</tbody>
			</table>
			<div id="pagination">
			</div>
		</div>
		</div>	
		<!--模态框-->
		<div class="modal block imgModal" id="modal">
			<div class="box" style="top:0px;">
				<h4 class="overflow">
					<p class="lt">
						<span>宾客信息明细</span>
					</p>
					<p class="rt" id="close" onclick="$(this).parents('.modal').hide(800)">
						<u></u>
					</p>
				</h4>
				<div class="mbody">
					<div class="overflow">
						<div class="lt">
								<input type="hidden" name="id" id="id" disabled="disabled"/>
							<label>
								<span>宾客姓名：</span>
								<span style="color: red">*</span>
								<input type="text" name="add_guest_name" id="add_guest_name"/>
							</label>
							<label>
								<span>主职务：</span>
								<input type="text" name="add_main_position" id="add_main_position"/>
							</label>
							<label>
								<span>副职务：</span>
								<input type="text" name="add_deputy_position" id="add_deputy_position" />
							</label>
							<label>
								<span>性别：</span>
								<span style="color: red">*</span>
								<select id="add_sex" name="add_sex">
										<option selected="selected">请选择...</option>
										<option  value="1" >男</option>
										<option  value="2">女</option>
										<option  value="0">其他</option>
								</select>
							</label>
							<label>
								<span>出生日期：</span>
								<span style="color: red">*</span>
								<input type="text" name="add_birth_date" id="add_birth_date" onclick="new Calendar().show(this);" readonly="readonly"/>
							</label>
							<label>
								<span>民族：</span>
								<span style="color: red">*</span>
								<select id="add_nation" name="add_nation">
									<option selected="selected">请选择...</option>
									<option value="0">汉族</option>
									<option value="1">蒙古族</option>
									<option value="2">哈萨克族</option>
									<option value="3">回族</option>
									<option value="4">壮族</option>
									<option value="5">藏族</option>
									<option value="6">布依族</option>
									<option value="7">白族</option>
									<option value="8">苗族</option>
									<option value="9">满族</option>
									<option value="10">维吾尔族</option>
									<option value="11">其他</option>
								</select>
							</label>
							<label>
								<span>学历：</span>
								<span style="color: red">*</span>
								<select id="add_education" name="add_education">
										<option   selected="selected">请选择...</option>
										<option value="0">博士</option>
										<option value="1">硕士</option>
										<option value="2">本科</option>
										<option value="3">大专</option>
										<option value="4">高中及以下</option>
								</select>
							</label>
							
							<label>
								<span>联系电话：</span>
								<input type="text" name="add_telphone" id="add_telphone" />
							</label>
							<label>
								<span>家庭/办公电话：</span>
								<input type="text" name="add_phone" id="add_phone" />
							</label>
					</div>
					<div class="btns overflow">
						 <span class="personattr">照片:</span>
						  <span>
					        <img id="thumburlShow" src="file:///F|/img/00.jpeg" width="120" height="120"/>
					      </span>
					     <input type="hidden" name="img"  id="thumbUrl"/>
					     <input type="file" name="logoFile" id="logoFile" onchange="setImg(this);">
					     <span onclick="delete_img()">删除</span>
					</div>
					<div class="">
							<label>
									<span>任职地区：</span>
									<input type="text" name="add_office_area" id="add_office_area" />
							</label>
							<label>
									<span>籍贯：</span>
									<input type="text" name="add_origin_place" id="add_origin_place" />
							</label>
							<label>
								<span>邮件地址：</span>
								<input type="text" name="add_email" id="add_email" />
							</label>
							<label>
								<span>家庭住址：</span>
								<input type="text" name="add_address" id="add_address" />
							</label>
							<label>
								<span>宾客类别：</span>
								<span style="color: red">*</span>
								<select id="add_guest_type" name="add_guest_type">
										<option   selected="selected">请选择...</option>
										<option value="小客户">小客户</option>
										<option value="普通客户">普通客户</option>
										<option value="次要客户">次要客户</option>
										<option value="重要客户">重要客户</option>
								</select>
							</label>
							<label>
								<span>备注</span>
								<textarea name="" rows="5" cols="30" id="add_remark"></textarea>
							</label>
					</div>					
				</div>
				<div class="mfoot" align="center">
					<button id="tijiao">
						<u class="confirm lt"></u>
						<span class="lt" >确定</span>
					</button>
					<button onclick="$(this).parents('.modal').hide(800)">
						<u class="cancel lt"></u>
						<span class="lt">返回</span>
					</button>
				</div>
			</div>
		</div>
	</body>
</html>