<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/icon.css" /> 
		<link rel="stylesheet" type="text/css" href="../assets/css/pagination.css" /> 
		
		<script type="text/javascript" src="../assets/js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="../assets/js/pagination.min.js"></script>
		<script type="text/javascript" src="../assets/js/Calendar.js"></script>
		<script type="text/javascript" src="./js/guestInformation.js"></script>
		<style>
			.Ibtn{
				width: 6.58vw;
		   	 	height: 3.6vh;
		    	background: url(../assets/img/button.png) no-repeat 0px 0px;
		    	background-size: 100% 100%;
		    	border: none;
		    	outline: none;
		    	color: #fff;
		    	cursor: pointer;
		    	padding-bottom: 4px;
		    	margin-right: 1.302vw;
		    	font-size: 0.88vw;
			}
			
			
			.buttons>label{
				width: 6.75%;
			    height: 4.1vh;
			    line-height: 4.1vh;
			    text-align:center;
			    border: none;
			    background: url(../assets/img/index3_11.png) no-repeat 0px 0px;
			    background-size: 100% 100%;
			    color: #fff;
			    outline: none;
			    margin-right: 1.382%;
			    font-size: 0.625vw;
			    cursor: pointer;
			}
			.buttons>label>u{
				position: relative;
			    top: 2px;
			    left: 6px;
			}    
		
			.mbody img{
				width:14vw;
				height:22vh;
				margin-top:2vh;
			}
		</style>
	</head>
	<body>
		<div class="operationsArea">
			<div class="buttons">
					<button onclick="add_guest()">
						<u class="xz"></u>
						<span class="webkit">新增</span>
					</button>
					<button onclick="edit_guest()">
						<u class="bj"></u>
						<span class="webkit">编辑</span>
					</button>
					<button onclick="delete_guest()">
						<u class="sc"></u>
						<span class="webkit">删除</span>
					</button>
					<button onclick="select_detail()">
						<u class="dyyl"></u>
						<span class="webkit">查看详情</span>
					</button>
					<button  onclick="importModal()">
						<u class="dr"></u>
						<span class="webkit">导入</span>	
					</button>
					<button  onclick="export_guest()">
						<u class="dc"></u>
						<span class="webkit">导出</span>
					</button>
			</div>
		<div class="tab">
			<table class="table" cellspacing="0">
				<thead>
					<tr>
						<th>选择</th>
						<th>宾客姓名</th>
						<th>主职务</th>
						<th>副职务</th>
						<th>任职地区</th>
						<!-- <th>性别</th> -->
						<th>出生日期</th>
						<!-- <th>民族</th> 
						<!-- <th>学历</th> -->
						<th>籍贯</th>
						<th>联系电话</th>
						<th>家庭/办公电话</th>
						<th>邮件地址</th>
						<th>家庭地址</th>
						<th>宾客类型</th>
						<th>备注</th>
					</tr>
				</thead>
				
				<tbody id="guest_info">						 
				  <!--添加内容-->
					<!-- <tr>
					<td  id= "id" style="display:none"></td>
						<td id="guest_name" value="000">宾客姓名</td>
						<td id="main_position">主职务</td>
						<td id="deputy_position">副职务</td>
						<td id="office_area">任职地区</td>
						<td id="sex">性别</td>
						<td id="birth_date">出生日期</td>
						<td id="nation">民族</td>
						<td id="education">学历</td>
						<td id="origin_place">籍贯</td>
						<td id="telphone">联系电话</td>
						<td id="phone">家庭/办公电话</td>
						<td id="email">邮件地址</td>
						<td id="address">家庭地址</td>
						<td id="guest_type">宾客类型</td>
						<td id="remark">备注</td>
					</tr> -->
				</tbody>
			</table>
			<div id="pagination" class="text-center">
			</div>
		</div>
		</div>	
		<!--模态框-->
		<div class="modal none imgModal" id="modal">
			<div class="box" style="top:0px;">
				<h4 class="overflow">
					<p class="lt">
						<span>宾客信息明细</span>
					</p>
					<p class="rt" id="close" onclick="$(this).parents('.modal').hide(800)">
						<u></u>
					</p>
				</h4>
				<div class="mbody">
					<div class="overflow">
						<div class="lt">
								<input type="hidden" name="id" id="id" disabled="disabled"/>
							<label>
								<span>宾客姓名：</span>
								<span style="color: red">*</span>
								<input type="text" name="add_guest_name" id="add_guest_name"/>
							</label>
							<label>
								<span>主职务：</span>
								<input type="text" name="add_main_position" id="add_main_position"/>
							</label>
							<label>
								<span>副职务：</span>
								<input type="text" name="add_deputy_position" id="add_deputy_position" />
							</label>
							<label>
								<span>性别：</span>
								<span style="color: red">*</span>
								<select id="add_sex" name="add_sex">
										<option selected="selected">请选择...</option>
										<option  value="男" >男</option>
										<option  value="女">女</option>
										<option  value="其他">其他</option>
								</select>
							</label>
							<label>
								<span>出生日期：</span>
								<span style="color: red">*</span>
								<input type="text" name="add_birth_date" id="add_birth_date" onclick="new Calendar().show(this);" readonly="readonly"/>
							</label>
							<label>
								<span>民族：</span>
								<span style="color: red">*</span>
								<select id="add_nation" name="add_nation">
									<option selected="selected">请选择...</option>
									<option value="汉族">汉族</option>
									<option value="蒙古族">蒙古族</option>
									<option value="哈萨克族">哈萨克族</option>
									<option value="回族">回族</option>
									<option value="壮族">壮族</option>
									<option value="藏族">藏族</option>
									<option value="布依族">布依族</option>
									<option value="白族">白族</option>
									<option value="苗族">苗族</option>
									<option value="满族">满族</option>
									<option value="维吾尔族">维吾尔族</option>
									<option value="其他">其他</option>
								</select>
							</label>							
					</div>
						<div class="rt">					 
							 <img id="thumburlShow" /> 
						     <input type="hidden" name="img"  id="thumbUrl"/>
						     <div class="overflow" style="margin-top:1vh;">
						     	<label for="logoFile" class="Ibtn lt m-0" style="width: 6.58vw;">
						     	 	<span >上传头像</span>
						    	 	<input type="file" name="logoFile" id="logoFile" onchange="setImg(this);" class="none">	
						    	</label>					     
						     	<span onclick="delete_img()" class="Ibtn lt" style="margin-left:1.2vw; margin-right:0px;">删除</span>
						     </div>
						     
						</div>
						<div class="">
								<label>
									<span>学历：</span>
									<span style="color: red">*</span>
									<select id="add_education" name="add_education">
											<option   selected="selected">请选择...</option>
											<option value="博士">博士</option>
											<option value="硕士">硕士</option>
											<option value="本科">本科</option>
											<option value="大专">大专</option>
											<option value=">高中及以下">高中及以下</option>
									</select>
								</label>
								
								<label>
									<span>联系电话：</span>
									<input type="text" name="add_telphone" id="add_telphone" />
								</label>
								<label>
									<span>家庭/办公电话：</span>
									<input type="text" name="add_phone" id="add_phone" />
								</label>
								<label>
										<span>任职地区：</span>
										<input type="text" name="add_office_area" id="add_office_area" />
								</label>
								<label>
										<span>籍贯：</span>
										<input type="text" name="add_origin_place" id="add_origin_place" />
								</label>
								<label>
									<span>邮件地址：</span>
									<input type="text" name="add_email" id="add_email" />
								</label>
								<label>
									<span>家庭住址：</span>
									<input type="text" name="add_address" id="add_address" />
								</label>
								<label>
									<span>宾客类别：</span>
									<span style="color: red">*</span>
									<select id="add_guest_type" name="add_guest_type">
											<option   selected="selected">请选择...</option>
											<option value="小客户">小客户</option>
											<option value="普通客户">普通客户</option>
											<option value="次要客户">次要客户</option>
											<option value="重要客户">重要客户</option>
									</select>
								</label>
								<label>
									<span>备注</span>
									<textarea name="" rows="5" cols="30" id="add_remark"></textarea>
								</label>
						</div>					
					</div>
				</div>
				<div class="mfoot" align="center">
					<button id="tijiao">
						<u class="confirm lt"></u>
						<span class="lt" >确定</span>
					</button>
					<button onclick="$(this).parents('.modal').hide(800)">
						<u class="cancel lt"></u>
						<span class="lt">返回</span>
					</button>
				</div>
			</div>
			</div>
			
		<div id="importModal" class="modal none">
		<div class="box">
			<h4 class="overflow">
				<p class="lt">
					<span>导入文件选择</span>
				</p>
				<p class="rt" id="close"
					onclick="$(this).parents('.modal').hide(800)">
					<u></u>
				</p>
			</h4>
			<div class="mbody">
					<div class="btns overflow" style="margin-top:2vh;line-height:3.6vh;">
						<label for="file" class="Ibtn lt text-center" style="margin:0px 1.302vw 0px 0px;">
						 导入 文件选择
						<input onchange="import_Excel(this);" type="file"  class="" id="file_excel">
						</label>
					</div>
			</div>
			<div class="mfoot" align="center">
				<button >
					<u class="confirm lt"></u> <span class="lt">确定</span>
				</button>
				<button onclick="$(this).parents('.modal').hide(800)">
					<u class="cancel lt"></u> <span class="lt">取消</span>
				</button>
			</div>
		</div>
		</div>
		<script>
			// 关于按钮组的切换
			$(".buttons>button").on("click",function(e){
				$(this).addClass('active').siblings('button').removeClass('active');
			});
		</script>
	</body>
</html>