<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>酒店信息对比</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/icon.css" />

		<script type="text/javascript" src="../assets/js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="js/HotelContrasts.js"></script>
	</head>

	<body>
		<div class="operationsArea">
			<div class="buttons">
				<button>
						<u class="dyyl"></u>
						<span class="webkit">打印预览</span>
					</button>
				<button>
						<u class="dy"></u>
						<span class="webkit">打印</span>
					</button>
				<button onclick="shut()" class="m-0">
						<u class="gb"></u>
						<span class="webkit">关闭</span>
					</button>
			</div>
			<div class="inputs">
				<!-- <input type="text"  name="hotel_input"
				onchange="hotelShow(this)" placeholder="查询酒店" value="" /> -->
				<select id="hotel_l" class="hotel" name="hotel">
				<option value="">-------------</option>
				<option value="">东方国际大酒店</option>
				<option value="">光明大酒店</option>
				<option value="">宏兴大酒店</option>
				</select>
				<select id="type" onchange="loadContrastType(this.value)">
					<option value=''>--请选择对比类型--</option>
					<option value="dm_room_type">房间类型</option>
					<option value="dm_menu_type">套餐类型</option>
				</select>
				<select id="contrast_type" >
				</select>
				<!-- <input type="text"  name="hotel_input"
				onchange="hotelShow(this)" placeholder="查询酒店" value="" /> -->
				<select id="hotel_r" class="hotel" name="hotel">
				<option value="">-------------</option>
				<option value="">东方国际大酒店</option>
				<option value="">光明大酒店</option>
				<option value="">宏兴大酒店</option>
				</select>
				<button onclick="contrastHotel()">对比</button>
			</div>
			<div class="tab">			
				<div class="overflow fruit">
					<h6 class="title overflow">
						<span class="lt">
							<strong style="font-size: 1.025vw;"> </strong> 
						</span>	
						<span class="rt">
							<strong style="font-size: 1.025vw;"> </strong>
						</span>
					</h6>
					<div class="seat overflow">
						<ul id="ul_l" class="lt" style="width: 50%;margin-top: 26px">
							
						</ul>
						<ol id="ol_r" class="rt" style="width: 50%;margin-top: 26px">
							
						</ol>
					</div>									 
				</div>

			</div>
		</div>
	</body>
</html>