<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>酒店管理</title>
<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
<link rel="stylesheet" type="text/css" href="../assets/css/icon.css" />
<link rel="stylesheet" type="text/css"
	href="../assets/css/pagination.css" />

<script type="text/javascript" src="../assets/js/jquery-1.10.2.min.js"></script>
<!-- Paginator -->
<script src="../assets/js/pagination.min.js"></script>
<script type="text/javascript" src="js/HotelManage.js"></script>

<style>
.Ibtn, .modal>.box label.Ibtn {
	width: 6.58vw;
	height: 3.6vh;
	background: url(../assets/img/button.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
	padding-bottom: 4px;
	margin-right: 1.302vw;
	font-size: 0.88vw;
}

#graphModal>.box>.mbody {
	padding: 1vw 0px 1vw 0px;
}

#imageOver>li {
	width: 40vw;
	height: 40vh;
}

#imgBox>div.active li>img {
	width: 80vw;
	height: 80vh;
	margin: auto;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -4vw;
	bottom: 0px;
	z-index: 1;
}

#imgBox>div.active>.close {
	width: 2vw;
	height: 2vw;
	line-height: 2vw;
	text-align: center;
	font-size: 1.6vw;
	background: red;
	color: #fff;
	font-weight: bold;
	position: relative;
	top: -5vw;
	right: -58.6vw;
	z-index: 2;
	cursor: pointer;
}
</style>
</head>

<body>
	<div class="operationsArea">
		<div class="buttons">
			<button onclick="add()">
				<u class="xz"></u><span class="webkit">新增</span>
			</button>
			<button onclick="edit()">
				<u class="bj"></u><span class="webkit">编辑</span>
			</button>
			<button onclick="dele()">
				<u class="sc"></u><span class="webkit">删除</span>
			</button>
			<!--  
			<button>
				<u class="dyyl"></u><span class="webkit">打印预览</span>
			</button>
			<button>
				<u class="dy"></u><span class="webkit">打印</span>
			</button>-->
			<button onclick="importModal()">
				<u class="dr"></u><span class="webkit"> 导入</span>
			</button>
			
			<button onclick="exportExcel()">
				<u class="dc"></u><span class="webkit">导出 </span>
			</button>
			<button onclick="planeGraph()">
				<u class="dc"></u><span class="webkit">平面图 </span>
			</button>
		</div>
		<div class="inputs">
			<input id="hotelName" type="text" value="" placeholder="酒店名称" />
			<button onClick="query()">
				<span class="webkit">查询</span>
			</button>
			<button>
				<span class="webkit">清空</span>
			</button>
		</div>
		<div class="tab">
			<table class="table" cellspacing="0" border="0">
				<thead>
					<tr>
						<th>选择</th>
						<th>酒店名称</th>
						<th>联系人</th>
						<th>联系电话</th>
						<th>联系座机</th>
						<th>所属行政区</th>
						<th>酒店地址</th>
						<th>备注</th>
					</tr>
				</thead>
				<tbody id="tablebody">
					<!-- <tr ondblclick="view()">
						<td><label> <input type="checkbox" checked="checked">
								<u></u>
						</label></td>
						<td>东方国际大酒店</td>
						<td>马艳玲</td>
						<td>18193748166</td>
						<td>0937-2699999</td>
						<td>肃州区</td>
						<td>酒泉市肃州区仓门街6号</td>
						<td></td>
					</tr>
					<tr ondblclick="view()">
						<td><label> <input type="checkbox" checked="checked">
								<u></u>
						</label></td>
						<td>宏信大酒店</td>
						<td>陈浩</td>
						<td>18919427777</td>
						<td>0937-2802222</td>
						<td>肃州区</td>
						<td>甘肃省酒泉市肃州区盘旋西路7号</td>
						<td></td>
					</tr> -->
				</tbody>
			</table>
			<!-- 分页插件  -->
			<div class="text-center" id="page"></div>
		</div>
	</div>
	<div id="modal" class="modal none">
		<div class="box">
			<h4 class="overflow">
				<p class="lt">
					<span>酒店信息明细</span>
				</p>
				<p class="rt" id="close"
					onclick="$(this).parents('.modal').hide(800)">
					<u></u>
				</p>
			</h4>
			<div class="mbody">
				<div class="overflow">
					<div class="">
						<input type="hidden" name="id" id="id" /> <label for="hotel_name">
							<span>酒店名称：</span> <input type="text" name="hotel_name"
							id="hotel_name" value="" />
						</label> <label for="linkman"> <span>酒店联系人：</span> <input
							type="text" name="linkman" id="linkman" />
						</label> <label for="telphone"> <span>联系电话：</span> <input
							type="text" name="telphone" id="telphone" />
						</label> <label for="phone"> <span>座机：</span> <input type="text"
							name="phone" id="phone" />
						</label> <label for=area> <span>所属行政区：</span> <select name="area"
							id="area"></select>
						</label> <label for="address"> <span>酒店地址：</span> <input
							type="text" name="address" id="address" value="" />
						</label> <label for="graph"> <span>酒店平面图：</span> <input
							type="text" name="graph" id="graph" value="" />
					</div>
					<!-- 			<div class="rt" id="imgBox">
						<div class="img" ondblclick="imgView(this)">
							<b class="close none"
								onclick="$(this).parent('div.img').removeClass('active');$(this).hide();">
								× </b>
							<ul class="overflow">
								<!-- <li class="block"><img src="image/宏兴大酒店_宏兴大酒店.png"
									width="100%" height="100%" /></li>
								<li class="none"><img src="image/东方国际大酒店_东方国际大酒店6楼平面图.png"
									width="100%" height="100%" /></li> 
							</ul>
						</div>
						<button class="left">⇐</button>
						<span>1/1</span>
						<button class="right">⇒</button>
						<div class="btns overflow">
							<p class="lt">
								<button>
									添加 <input type="file" name="" id="" value="">
								</button>
							</p>
							<p class="lt">
								<button class="lt">
									替换 <input type="file" name="" id="" value="">
								</button>
							</p>
							<button class="lt">删除</button>
						</div>
					</div> -->
				</div>
				<div class="">
					<label for="user"> <span>用途说明：</span> <input type="text"
						name="" id="user" value="">
					</label> <label for="remarks"> <span>备注</span> <textarea name=""
							rows="5" cols="30" id="remark"></textarea>
					</label>
				</div>
			</div>
			<div class="mfoot" align="center">
				<button id="add" onclick="addSubmit()">
					<u class="confirm lt"></u> <span class="lt">确定</span>
				</button>
				<button id="update" onclick="editSubmit()" style="display:none">
					<u class="confirm lt"></u> <span class="lt">确定</span>
				</button>
				<button onclick="$(this).parents('.modal').hide(800)">
					<u class="cancel lt"></u> <span class="lt">取消</span>
				</button>
			</div>
		</div>
	</div>


	<!--酒店详细信息【含图片】  双击展示-->
	<div id="graphModal" class="modal none imgModal">
		<div class="box">
			<h4 class="overflow">
				<p class="lt">
					<span>酒店平面图</span>
				</p>
				<p class="rt" id="close"
					onclick="$(this).parents('.modal').hide(800)">
					<u></u>
				</p>
			</h4>
			<div class="mbody">
				<input id="hotelId" type="hidden" value="">
				<div id="imgBox">
					<div class="img" ondblclick="imgView(this)">
						<b class="close none"
							onclick="$(this).parent('div.img').removeClass('active');$(this).hide();">
							× </b>
						<ul class="overflow" id="imageOver">
							<li class="block"><img src="image/宏兴大酒店_宏兴大酒店.png"
								width="100%" height="100%" /></li>
							<li class="none"><img src="image/东方国际大酒店_东方国际大酒店6楼平面图.png"
								width="100%" height="100%" /></li>
						</ul>
					</div>
					<div class="btns overflow"
						style="margin-top:2vh;line-height:3.6vh;">
						<!-- <span id="inmpage" class="lt text-center" style="width:4vw;">1/1</span> -->
						<button class="change Ibtn lt">切换图片</button>
						<label for="file" class="Ibtn lt text-center"
							style="margin:0px 1.302vw 0px 0px;"> 添加 <input
							onchange="setImg(this)" type="file" name="" value="" id="file"
							class="none">
						</label>
						<button onclick="delImg()" class="lt Ibtn">删除</button>
					</div>
				</div>
			</div>
			<div class="mfoot" align="center">
				<button onclick="print()">
					<u class="confirm lt"></u> <span class="lt">打印</span>
				</button>
				<button onclick="$(this).parents('.modal').hide(800)">
					<u class="cancel lt"></u> <span class="lt">取消</span>
				</button>
			</div>
		</div>
		</div>
		<div id="importModal" class="modal none">
		<div class="box">
			<h4 class="overflow">
				<p class="lt">
					<span>导入文件选择</span>
				</p>
				<p class="rt" id="close"
					onclick="$(this).parents('.modal').hide(800)">
					<u></u>
				</p>
			</h4>
			<div class="mbody">
					<div class="btns overflow" style="margin-top:2vh;line-height:3.6vh;">
						<label  class="Ibtn lt text-center" style="margin:0px 1.302vw 0px 0px;">
						 导入 文件选择
						<input onchange="importExcel(this)" type="file"  class="" id="file_excel">
						</label>
					</div>
			</div>
			<div class="mfoot" align="center">
				<button >
					<u class="confirm lt"></u> <span class="lt">导入</span>
				</button>
				<button onclick="$(this).parents('.modal').hide(800)">
					<u class="cancel lt"></u> <span class="lt">取消</span>
				</button>
			</div>
		</div>
		</div>
</body>
<script>
	// 关于按钮组的切换
	$(".buttons>button").on("click", function(e) {
		$(this).addClass('active').siblings('button').removeClass('active');
	});

	function view() {
		$('.imgModal').show()
	}

	function imgView(a) {
		$(a).addClass('active');
		$(a).children('img').height('100%');
		$(a).children('b.close').show();
	}

	$('.change').on('click', function() {
		var l = $('#imgBox ul>li.block').index();
		if (l < $('#imgBox ul>li').length && l >= 0) {
			//$("#inmpage").text(Number(l + 1) + "/" + $('#imgBox ul>li').length);
			$('#imgBox li').addClass('none').removeClass('block');
			$('#imgBox li').eq(l - 1).addClass('block');
		}
	})
</script>

</html>