<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>酒店信息对比</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/icon.css" />

		<script type="text/javascript" src="../assets/js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="../assets/js/html2canvas.min.js"></script>
		<script type="text/javascript" src="js/HotelContrasts.js"></script>
	</head>

	<body>
		<div class="operationsArea">
			<div class="buttons">
				<button onclick="doprint('tab')">
						<u class="dyyl"></u>
						<span class="webkit">打印预览</span>
					</button>
				<button onclick="printHtml()">
						<u class="dy"></u>
						<span class="webkit">打印</span>
					</button>
			</div>
			<div class="inputs">
				<!-- <input type="text"  name="hotel_input"
				onchange="hotelShow(this)" placeholder="查询酒店" value="" /> -->
				<select id="hotel_l" class="hotel" name="hotel">
				<option value="">-------------</option>
				<option value="">东方国际大酒店</option>
				<option value="">光明大酒店</option>
				<option value="">宏兴大酒店</option>
				</select>
				<select id="type" onchange="loadContrastType(this.value)">
					<option value=''>--请选择对比类型--</option>
					<option value="dm_room_type">房间类型</option>
					<option value="dm_menu_type">套餐类型</option>
				</select>
				<select id="contrast_type" >
				</select>
				<!-- <input type="text"  name="hotel_input"
				onchange="hotelShow(this)" placeholder="查询酒店" value="" /> -->
				<select id="hotel_r" class="hotel" name="hotel">
				<option value="">-------------</option>
				<option value="">东方国际大酒店</option>
				<option value="">光明大酒店</option>
				<option value="">宏兴大酒店</option>
				</select>
				<button onclick="contrastHotel()">对比</button>
			</div>
			<!--startprint-->
			<div id="tab" class="tab">			
				<div class="overflow fruit">
					<h6 class="title overflow">
						<span class="lt">
							<strong style="font-size: 1.025vw;"> </strong> 
						</span>	
						<span class="rt">
							<strong style="font-size: 1.025vw;"> </strong>
						</span>
					</h6>
					<div class="seat overflow">
						<ul id="ul_l" class="lt" style="width: 50%;margin-top: 26px">
							
						</ul>
						<ol id="ol_r" class="rt" style="width: 50%;margin-top: 26px">
							
						</ol>
					</div>									 
				</div>
			</div>
			<!--endprint-->
		</div>
		
		<div id="printModal" class="modal none">
		<div class="box" style="width:80vw;">
			<h4 class="overflow">
				<p class="lt">
					<span id="modal_name">对比信息</span>
				</p>
				<p class="rt" id="close"
					onclick="$(this).parents('.modal').hide(800)">
					<u></u>
				</p>
			</h4>
			<div id="img" class="mbody overflow"></div>
			<div class="mfoot" align="center">
				<button onclick="print()">
					<u class="confirm lt"></u> <span class="lt">打印</span>
				</button>
				<button onclick="$(this).parents('.modal').hide(800)">
					<u class="cancel lt"></u> <span class="lt">取消</span>
				</button>
			</div>
		</div>
	</div>
		<script type="text/javascript">
			// 关于按钮组的切换
			$(".buttons>button").on("click",function(e){
				$(this).addClass('active').siblings('button').removeClass('active');
			});
		</script>
	</body>
</html>