<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/icon.css" /> 
		<link rel="stylesheet" type="text/css" href="../assets/css/pagination.css" /> 
		
		<script type="text/javascript" src="../assets/js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="../assets/js/pagination.min.js"></script>
		<script type="text/javascript" src="./js/menuInformation.js"></script>
	</head>
	<body>
		<div class="operationsArea">
			<div class="buttons">
					<button onclick="add_menu()">
						<u class="xz"></u>
						<span class="webkit">新增</span>
					</button>
					<button onclick="edit_menu()">
						<u class="bj"></u>
						<span class="webkit">编辑</span>
					</button>
					<button onclick="delete_menu()">
						<u class="sc"></u>
						<span class="webkit">删除</span>
					</button>
					<button onclick="select_detail()">
						<u class="dyyl"></u>
						<span class="webkit">查看详情</span>
					</button>
					<button onclick="export_menu()">
						<u class="dc"></u>
						<span class="webkit">导出套餐</span>
					</button>
					<button onclick="export_food()">
						<u class="dc"></u>
						<span class="webkit">导出菜品</span>
					</button>
			</div>
		<div class="tab">
			<table class="table" cellspacing="0">
				<thead>
					<tr>
						<th>选择</th>
						<th>套餐编号</th>
						<th>套餐简称</th>
						<th>套餐类型</th>
						<th>酒店名称</th>
						<th>用餐时间分类</th>
						<th>用餐方式分类</th>
						<th>标准分类</th>
						<th>备注</th>
					</tr>
				</thead>
				<tbody id="menu_info">						 
				</tbody>
			</table>
			<div id="pagination" class="text-center">
			</div>
		</div>
		</div>	
		<!--模态框-->
		<div class="Tmodal modal none" id="modal">
			<div class="box">
				<h4 class="overflow">
					<p class="lt">
						<span>套餐信息明细</span>
					</p>
					<p class="rt" id="close" onclick="$(this).parents('.modal').hide(800)">
						<u></u>
					</p>
				</h4>
				<div class="mbody">
					<div class="inputs overflow">
						<div class="lt">
							<label for="ID">
								<span>套餐简称：</span>
								<input type="hidden" name="menu_number" id="menu_number" disabled="disabled"/>
								<select name="short_name" id="short_name">
									<option value="A单">A单</option>
									<option value="B单">B单</option>
									<option value="C单">C单</option>
									<option value="D单">D单</option>
								</select>
							</label>
							<label for="HotelName">
								<span>酒店名称：</span>
								<select name="hotel" id="hotel">
									<!-- 
									<option value="东方国际大酒店">东方国际大酒店</option>
									<option value="世纪大酒店">世纪大酒店</option>
									<option value="光明大酒店">光明大酒店</option>
									 -->
								</select>
							</label>
							<label for="mealClass">
								<span>用餐方式分类：</span>
								<select name="meals_type" id="meals_type">
									<option value="自助餐">自助餐</option>
									<option value="桌餐">桌餐</option>
									<option value="工作餐">工作餐</option>
								</select>
							</label>
						</div>
						<div class="rt">
							<label for="info">
								<span>套餐信息：</span>
								<select name="menu_type" id="menu_type">
									<option value="一般套餐">一般套餐</option>
									<option value="贵宾套餐">贵宾套餐</option>
								</select>
							</label>
							<label for="timeClass">
								<span>用餐时间分类：</span>
								<select name="meals_time" id="meals_time">
									<option value="早餐">早餐</option>
									<option value="正餐">正餐</option>
									<option value="晚餐">晚餐</option>
								</select>
							</label>
							<label for="">
								<span>标准分类：</span>
								<select name="standard" id="standard">
									<option value="30">30</option>
									<option value="40">40</option>
									<option value="50">50</option>
									<option value="58">58</option>
									<option value="60">60</option>
									<option value="70">70</option>									
									<option value="80">80</option>
									<option value="100">100</option>
									<option value="120">120</option>
									<option value="150">150</option>
								</select>
							</label>
						</div>
						<div style="clear: left;font-size: 0.825vw;padding: 0px 0.4vw;">
							<label for="remarks">
								<span>备注：</span>
								<textarea name="remarks" rows="" cols="" id="remarks"></textarea>
							</label>
						</div>
					</div>
					<div class="tab">
						<table border="1" cellspacing="0" cellpadding="0" class="tabTitle">
							 <thead>
							 	<tr>
							 		<th>菜品名称<span style="color: red">*</span></th>
							 		<th>菜品单价</th>
							 		<th>菜品类型</th>
							 		<th>备注</th>
							 		<th>操作</th>
							 	</tr>
							 </thead>
						</table>
						<table border="1" cellspacing="0" cellpadding="0" class="tabTbody" id="food_infos" >
						</table>
					</div>
				</div>
				<div class="mfoot" align="center">
					<button id="tijiao">
						<u class="confirm lt"></u>
						<span class="lt" >确定</span>
					</button>
					<button onclick="$(this).parents('.modal').hide(800)">
						<u class="cancel lt"></u>
						<span class="lt">返回</span>
					</button>
				</div>
			</div>			
		</div>
		<script>
			// 关于按钮组的切换
			$(".buttons>button").on("click",function(e){
				$(this).addClass('active').siblings('button').removeClass('active');
			});
		</script>
	</body>
	
</html>