u{
	background-image: url(../img/icon/icon.png);
	background-repeat: no-repeat;
	margin-right: 0.8vw;
}


.jdgl{
	width:14px;
	height:12px;
	background-position:0px 0px;
}
/*.jdgl:hover{
	width:14px;
	height:12px;
	background-position:0px -36px;
}*/
.jddj{
	width: 14px;
	height: 13px;
	background-position:-17px 0px;
}
.submenu li.hover .jddj,.submenu li.active .jddj{
	width: 14px;
	height: 13px;
	background-position:-17px -36px;
}
.jdxxgl{
	width: 14px;
	height: 14px;
	background-position: -34px 0px;
}
.submenu li.hover .jdxxgl,.submenu li.active .jdxxgl{
	width: 14px;
	height: 14px;
	background-position: -34px -36px;
}
.hyssyjl{
	width: 12px;
	height: 14px;
	background-position: -50px 0px;
}
.submenu li.hover .hyssyjl,.submenu li.active .hyssyjl{
	width: 12px;
	height: 14px;
	background-position: -50px -36px;
}
.bkxxgl{
	width: 14px;
	height: 13px;
	background-position: 0px -20px;
}
.submenu li.hover .bkxxgl,.submenu li.active .bkxxgl{
	width: 14px;
	height: 13px;
	background-position: 0px -54px;
}

.Jdgl{
	width: 14px;
	height: 13px;
	background-position: -17px -20px;
}
.Jdxxgl{
	width: 14px;
	height: 14px;
	background-position:-34px -20px;
}
.submenu li.hover .Jdxxgl,.submenu li.active .Jdxxgl{
	width: 14px;
	height: 14px;
	background-position:-34px -54px;
}
.Jddb{
	width: 14px;
	height: 14px;
	background-position: -50px -20px;
}
.submenu li.hover .Jddb,.submenu li.active .Jddb{
	width: 14px;
	height: 14px;
	background-position: -50px -54px;
}
.fjxxgl{
	width: 14px;
	height: 12px;
	background-position: -66px -20px;
}
.submenu li.hover .fjxxgl,.submenu li.active .fjxxgl{
	width: 14px;
	height: 12px;
	background-position: -66px -54px;
}
.hysxxgl{
	width: 16px;
	height: 14px;
	background-position: -82px -20px;
}
.submenu li.hover .hysxxgl,.submenu li.active .hysxxgl{
	width: 16px;
	height: 14px;
	background-position: -82px -54px;
}
.tccpxxgl{
	width: 18px;
	height: 14px;
	background-position: -100px -20px;
}
.submenu li.hover .tccpxxgl,.submenu li.active .tccpxxgl{
	width: 18px;
	height: 14px;
	background-position: -100px -54px;
}
.xtgl{
	width: 14px;
	height: 14px;
	background-position: -120px -20px;
}
.submenu li.hover .xtgl,.submenu li.active .xtgl{
	width: 14px;
	height: 14px;
	background-position: -120px -54px;
}
.yhsz{
	width: 14px;
	height: 14px;
	background-position: -136px -20px;
}
.submenu li.hover .yhsz,.submenu li.active .yhsz{
	width: 14px;
	height: 14px;
	background-position: -136px -54px;
}
.jssz{
	width: 14px;
	height: 14px;
	background-position: -152px -20px;
}
.submenu li.hover .jssz,.submenu li.active .jssz{
	width: 14px;
	height: 14px;
	background-position: -152px -54px;
}
.mksz{
	width: 14px;
	height: 13px;
	background-position: -168px -20px;
}
.submenu li.hover .mksz,.submenu li.active .mksz{
	width: 14px;
	height: 13px;
	background-position: -168px -54px;
}
.czrz{
	width: 14px;
	height: 13px;
	background-position: -185px -20px;
}
.submenu li.hover .czrz,.submenu li.active .czrz{
	width: 14px;
	height: 13px;
	background-position: -185px -54px;
}
.sjkpz{
	width: 14px;
	height: 14px;
	background-position: -202px -20px;
}
.submenu li.hover .sjkpz,.submenu li.active .sjkpz{
	width: 14px;
	height: 14px;
	background-position: -202px -54px;
}
.sjzdwh{
	width: 14px;
	height: 10px;
	background-position: -219px -20px;
}
.submenu li.hover .sjzdwh,.submenu li.active .sjzdwh{
	width: 14px;
	height: 10px;
	background-position: -219px -54px;
}



.xz{
	width: 12px;
	height: 12px;
	background-position: -66px 0px;
}
.buttons>button.active>.xz{
	width: 12px;
	height: 12px;
	background-position: -66px -36px;
}
.fzxz{
	width: 12px;
	height: 12px;
	background-position:-82px 0px;
}
.buttons>button.active>.fzxz{
	width: 12px;
	height: 12px;
	background-position:-82px -36px;
}
.bj{
	width: 12px;
	height: 12px;
	background-position: -100px 0px;
}
.buttons>button.active>.bj{
	width: 12px;
	height: 12px;
	background-position: -100px -36px;
}

.sc{
	width: 12px;
	height: 14px;
	background-position: -116px 0px;
}
.buttons>button.active>.sc{
	width: 12px;
	height: 14px;
	background-position: -116px -36px;
}

.dyyl{
	width: 12px;
	height: 12px;
	background-position: -131px 0px;
}
.buttons>button.active>.dyyl{
	width: 12px;
	height: 12px;
	background-position: -131px -36px;
}

.dy{
	width: 12px;
	height: 11px;
	background-position: -148px 0px;
}
.buttons>button.active>.dy{
	width: 12px;
	height: 11px;
	background-position: -148px -36px;
}
.dr{
	width: 12px;
	height: 12px;
	background-position: -165px 0px;
}
.buttons>button.active>.dr{
	width: 12px;
	height: 12px;
	background-position: -165px -36px;
}
.dc{
	width: 12px;
	height: 12px;
	background-position: -183px 0px;
}
.buttons>button.active>.dc{
	width: 12px;
	height:12px;
	background-position: -183px -36px;
}
.sh{
	width: 11px;
	height: 11px;
	background-position: -200px 0px;
}
.buttons>button.active>.sh{
	width: 11px;
	height: 11px;
	background-position: -200px -36px;
}
.cx{
	width: 11px;
	height: 12px;
	background-position: -215px 0px;
}
.buttons>button.active>.cx{
	width: 11px;
	height: 12px;
	background-position: -215px -36px;
}
.sx{
	width: 12px;
	height: 12px;
	background-position: -229px 0px;
}
.buttons>button.active>.sx{
	width: 12px;
	height: 12px;
	background-position: -229px -36px;
}
.gb{
	width: 12px;
	height: 12px;
	background-position: -244px 0px;
}
.buttons>button.active>.gb{
	width: 12px;
	height: 12px;
	background-position: -244px -36px;
}


#close>u{
	width: 20px;
	height: 20px;
	background-position: 0px -70px;
}
.mfoot .confirm{
	width: 16px;
	height: 16px;
	background-position:-22px -70px;
}
.mfoot .cancel{
	width: 16px;
	height: 16px;
	background-position:-42px -70px;
}

/*浼氳瀹�*/
.use{
	width: 21px;
	height: 21px;
	background-position: -61px -70px;
}
.nul{
	width: 21px;
	height: 21px;
	background-position: -84px -70px;
}
/* 鎴块棿淇℃伅 */
.useI{
	width: 30px;
	height: 30px;
	background-position: -106px -70px;
	margin: 0px;
}
.idle{
	width: 30px;
	height: 30px;
	background-position: -137px -70px;
	margin: 0px;
}
.rooms{
	width: 30px;
	height: 30px;
	background-position: -169px -70px;
	margin: 0px;
}
