@charset "UTF-8";
/**
 * @author: xgc-whj
 * @date: 2018-02-05
 * @version: v1.6
 * @description: 请务必保留作者、日期及版本号
 */

/*ccs-1*/
.whj_jqueryPaginationCss-1 {
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.whj_jqueryPaginationCss-1 div {
    display: inline-block;
    vertical-align: bottom;
    height: 2.56vw;
    line-height: 2.4vw;
}

.whj_jqueryPaginationCss-1 .whj_padding {
    padding: 1px 1.538vw;
}

.whj_jqueryPaginationCss-1 .whj_bgc {
    border:1px solid #fff;
    color: #fff;
}

.whj_jqueryPaginationCss-1 .whj_border {
    border: 1px solid #fff;
}

.whj_jqueryPaginationCss-1 .whj_color {
    color: #698ca9;
}

.whj_jqueryPaginationCss-1 .whj_hover:hover {
    background-color: #d4f1ff;
    color: #698ca9;
    cursor: pointer;
}

.whj_jqueryPaginationCss-1 .whj_checked {
    background-color: #23bae6;
    border:none;
    color: #fff;
}

.whj_jqueryPaginationCss-1 .whj_hoverDisable {
    /* opacity: 0.5;
    filter: alpha(opacity=50); */
    color:#bababa;
}

.whj_jqueryPaginationCss-1 select {
    height: 28px;
    vertical-align: bottom;
    padding: 0px;
    outline: none;
}

.whj_jqueryPaginationCss-1 input {
    padding: 0px;
    height: 26px;
    outline: none;
    text-align: center;
    width: 60px;
    vertical-align: bottom;
}

.whj_jqueryPaginationCss-1 div, .whj_jqueryPaginationCss-1 input, .whj_jqueryPaginationCss-1 select {
    margin: 2px;
}

