*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	box-sizing: border-box;
	-webkit-text-size-adjust:none
}
/* 公共样式               start */   
.none{
	display: none;
}
.block{
	display: block;
}
.overflow{
	overflow: hidden;
}
.lt{
	float: left !important;
}
.rt{
	float: right !important;
}
.m-0{
	margin: 0px !important;
}

.text-center{
	text-align:center;
}

a{
	text-decoration: none;
}

u,i,label,span,b{
	display: inline-block;	
}


/* 复选框 默认样式修改 */

.table label{
	position: relative;
	top:4px;
}
select{
	appearance:none;
  	-moz-appearance:none;
  	-webkit-appearance:none;
}
input[type=checkbox]{
	width: 16px;
	height: 16px;
	opacity: 0; 
	margin:0px;
	position: absolute;
	top:0px;
}

input[type=checkbox]+u{
	display: inline-block;
	width: 16px;
	height: 16px;
	background:url(../img/no.png) no-repeat 0px 0px;
	background-size: 100% 100%;
}
			
input[type=checkbox]:checked+u{
	width: 16px;
	height: 16px;
	background:url(../img/yes.png) no-repeat 0px 0px;
	background-size: 100% 100%;
}

html,body{
	width: 100%;
	height: 100vh;
	font:normal 0.72916vw "微软雅黑",arial; 
	color: #fff;
	word-wrap:break-word; 
	word-break:break-all; 
	overflow: hidden;
}
/****  end  *****/


/* login  */
.login{
	width: 100vw;
	height: 100vh;	
	background: url(../img/login/login2.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	position: relative;	
}

.login .loginBox{
	width: 36.35vw;
	height: 100vh;
	background: rgba(0,0,0,0.25);
	text-align: center;
	color: #fff;
	padding-left: 7.55vw;
	padding-right: 5.88vw;
	font-weight: initial;
}

.login>.loginBox>i.head{
	width:5.2vw;
	height: 9.259vh;
	background: url(../img/login/login2_06.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	margin-top: 15.09vh;
}

.login>.loginBox>h4{
	font-size: 0.92vw;	
	font-weight: initial;
	margin-top: 1.85vh;
}
.login>.loginBox>label{
	width: 100%;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	padding:0.573vw 1.29vh ;
}
.login>.loginBox>.check{
	margin:5.56vh 0px;
}
.login>.loginBox>label>i{
	width: 0.88vw;
	height: 1.85vh;	
	margin-right: 0.73vw;
	float: left;
}
.login>.loginBox>label>span{
	float: left;
}
.login>.loginBox>label>i.user{
	background: url(../img/login/user.png) no-repeat 0px 0px;
	background-size: 100% 100%;
}
.login>.loginBox>label>i.pass{
	background: url(../img/login/password.png) no-repeat 0px 0px;
	background-size: 100% 100%;
}

.login>.loginBox>label>input{
	width:74%;
	float: left;
	background: transparent;
	border: none;
	outline:none;
	color: #fff;
	margin-top:0.37vh;
}

.login>.loginBox>button{
	width: 22.91vw;
	height: 3.33vh;
	outline:none;
	background: linear-gradient(to right,#ff5d15,#fbc76d);
	border: none;
	color: #fff;
	border-radius: 3.33vh;
}

.login>.loginBox .QRCode{
	margin-left: 5.98vw;
	margin-top: 9.54vh;
}

.login>.loginBox .QR{
	width: 6.718vw;
	height: 11.75vh;
	background: url(../img/login/login2_17.png) no-repeat 0px 0px;
	background-size: 100% 100%;
}

.login>.loginBox .QR>i{
	width: 78%;
	height: 78%;
	background: url(../img/app.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	margin-top:8%;
}

.login>.loginBox p.lt{
	margin-top: 3.89vh;
	margin-left: 0.83vw;
}


/******  end  *******/

.header{
	width: 100%;
	height: 5.556vh;
	line-height:5.556vh;
	background-color: rgba(0,156,156,0.6);
	padding: 0px 1.875vw 0px  5.6vw;
}
.header>div.lt>a>span{
	width: 7vw;
	height: 2.59vh;
	background: url(../img/logo.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	position: relative;
	top: 1vh;
}
.header i.user{
	width:1.77vw;
    height: 3.148vh;
	background: url(../img/index3_03.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	margin-right: 1.04vw;
	position: relative;
	top: 1vh;
}
nav.content {
	width:18.75vw;
	background: rgba(48,138,156,0.5);
	text-align: center;
}

article td,article th{
	border: 1px solid #aaa;
}
/* 菜单 */
 .accordion {
 	width: 100%;
 	text-align: left;
 	/*margin: 30px auto 20px;*/
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.accordion .link {
	height: 4vh;
	line-height: 4vh;
	cursor: pointer;
	display: block;
	padding: 0px 1.04167vw;
	color: #fff;
	font-size: 0.729vw;
	font-weight: 700;
	border-bottom: 1px solid #597ab2;
	background-color:rgba(65, 170, 112, 0.4);
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion .submenu li.active,.accordion .submenu li:hover{	
	border-top: 1px solid #1cb7e2;
	border-bottom: 1px solid #1cb7e2;
	box-shadow: 0px 0px 8px 0px #0fc9ff;
	background: url(../img/list_02.png) no-repeat 0px 0px;
 	background-size: 100% 100%;
}

.accordion li.active>a{
	color: #eaed51;
 	background: url(../img/list_02.png) no-repeat 0px 0px;
 	background-size: 100% 100%;
}

.accordion li:last-child .link {
	border-bottom: 0;
}


/** Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: rgba(24,88,101,0.7);
 }

 .submenu li {
 	border-bottom: 1px solid #70acc3;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d3dcf0;
 	height: 3.7vh;
    line-height:  3.7vh;
 	padding-left: 2.08334vw;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

/*******************  整体 header  *******************/


.header>.rt>span.name{
	margin-right: 0.8334vw;
}

/*******************  内容展示区   ******************/
article#right>section{
	width: 81.25vw;
}
article#right>section>#Tab{
	height: 3.518vh;
	line-height: 3.518vh;
	background-color: #078484;
	color:#e6ebff;
}
article#right>section>#Tab>span{
	margin-left: 0.9375vw;
}
article#right>section>#iframeBox{
	width: 81.335vw;
	height: 90.522vh;
}
iframe{
	width: 100%;
	height: 90.522vh;
	border: none; 		
	overflow: hidden; 
}
.operationsArea{
	padding: 1.28205%;
}
.operationsArea>.buttons{
	padding: 0px 1.316%;
}
.operationsArea>.buttons>button{
	width: 6.75%;
	height: 4.1vh;
	border: none;
	background:url(../img/index3_11.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	color: #fff;
	outline:none;
	/*margin-right: 1.48%;*/
	margin-right:1.382%;
	font-size: 0.625vw;
	cursor: pointer;
}
.operationsArea>.buttons>button>u{
	position: relative;
    top: 2px;
    left: 6px;
}
.operationsArea>.buttons>button.active{
	background:url(../img/index3_12.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	color: #f3ff34;
}

.operationsArea>.inputs{
	margin-top: 1.852vh;
	text-align: center;
}

.operationsArea>.inputs>select,.inputs>input{
	width: 13.514%;
	height: 2.778vh;
	color: #000;
	margin-right:  1.33vw;
	box-shadow: 0px 1px 2px #022553;
	cursor: pointer;
	border: none;
	padding: 0px 0.922vw;
 	background: url(../img/index3_22.png) no-repeat scroll right center transparent;
 	background-size: 100% 100%;
 	font-size: 1.12vw;
 	appearance:none;
 	-webkit-appearance:none;
 	-ms-appearance:none;
 	-moz-appearance:none;
}
.operationsArea>.inputs>input{
	background:linear-gradient(to bottom,#fffef3,#c2fbfe); 
}
.operationsArea>.inputs>button{
	width: 6.58vw;
	height: 3.6vh;
	background: url(../img/button.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	border:none;
	outline:none;
	color: #fff;
	cursor: pointer;
	padding-bottom: 4px;
	margin-right: 1.302vw;
	font-size: 0.88vw;
}

.operationsArea>.tab{
	width: 100%;
	height: 83vh;
	background: rgba(1,162,162,0.7);	
	margin-top: 1.67vh;
}
/*表格*/
.operationsArea>.tab>table{
	width: 100%;
	text-align: center;
}
.operationsArea>.tab>table>thead>tr{
	width: 100%;
	height: 5.2vh;
    line-height: 5.2vh;
	border: none;
	background: url(../img/thead.png) 0px 0px;
	background-size: 100% 100%;
	display:table-row;
}
.operationsArea>.tab>table tr{
	height: 6.6vh;
	line-height:  6.6vh;
	color: #fff;
}

.operationsArea>.tab>table>tbody tr:hover{
	background-color: rgba(0,0,0,0.2);
	color: #f9ff4b;
}
/*排列*/
.operationsArea>.tab .title{
	width: 100%;
	height: 5.2vh;
	line-height:  5.2vh;
	padding: 0px 20px;
	background: url(../img/thead.png) no-repeat 0px 0px;
	background-size: 100% 100%;
}
.operationsArea>.tab>.title>span,.operationsArea>.tab>.seat .til{
	font-size: 1.025vw;
}
.operationsArea>.tab>.title>.idleIcon{
	margin: 0px 10px;
	color: #40e0d0;
	margin-left:2.884vw;
	font-size: 0.769vw;
}
.operationsArea>.tab>.title>.inUseIcon{
	margin: 0px 10px;
	color: #ff9626;
	font-size: 0.769vw;
}
.operationsArea>.tab>.title .idle{
	width: 10px;
	height: 8px;
	background-color: #40e0d0;
	margin-right:0.4vw;
}
.operationsArea>.tab>.title .inUse{
	width: 10px;
	height: 8px;
	background-color: #ff9626;
	margin-right:0.4vw;
}


.operationsArea>.tab .seat{
	padding: 0px  3.846vw;
}
.operationsArea>.tab>.seat .til{
	width: 100%;
	height: 47px;
	line-height: 47px;
}
.operationsArea>.tab>.seat ul>li{
	float: left;
	width: 8.48vw;
	height: 50px;
	background: rgba(38,54,64,0.4);
	border-radius: 4px;
	margin:0px 0.24vw;
	margin-bottom:6px;
	overflow: hidden;	
	position: relative;
}

.operationsArea>.tab>.seat ul>li>p.icon{
	position: absolute;
	top: 14px;
	right:0.769vw;
}
.operationsArea>.tab>.seat ul>li>p.icon>u{
	margin: 0px;
}

.operationsArea>.tab>.seat ul>li .room{
	width: 8vw;
	color: #fff;
	font-size: 0.7vw;
	position: absolute;
	top: 6px;
	left: 0.567vw;
}
.operationsArea>.tab>.seat li>.useIng{
	color: #ffb341;
	font-size: 0.9vw;
	position: absolute;
	bottom:6px;
	left: 0.5769vw;
}
.operationsArea>.tab>.seat li>.null{
	color: #40e0d0;
	font-size:  0.9vw;
	position: absolute;
	bottom:6px;
	left: 0.5769vw;
}
.operationsArea>.tab>.seat>.hr{
	width: 100%;
	height: 9px;
	border-color: rgba(94,121,184,0.4);
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-style: solid;
}
.operationsArea>.tab>.seat>.xBox{
	margin-top: 26px;
}
.operationsArea>.tab>.seat>.xBox>.storey{
	width: 6.41vw;
	padding-left: 1.153vw;
}
.operationsArea>.tab>.seat>.xBox>.floors{
	width: 100%;
	overflow-x:auto;
}
.operationsArea>.tab>.seat>.xBox>.floors>ol{
	width: 300%;
	overflow:hidden;	
}
.operationsArea>.tab>.seat>.xBox>.floors>ol>li{
	float: left;
	width: 5.846vw;
	height: 8vh;
	background-color: transparent;
	margin: 0px 0.384vw 18px 0.384vw;
	text-align: center;
	border-radius: 100%;
	padding-top: 0.613vh;
}
 /*
  * 	选中背景变色
  *  */
/*.operationsArea>.tab>.seat>.xBox>.storey+ol.overflow li.active{
	background-color: rgba(38,54,64,0.6);
}*/

.operationsArea>.tab>.seat>.xBox>div>ol>li>span{
	position: inherit;
}
.operationsArea>.tab>.fruit li{
	float: left;
	width: 20.256vw;
	height: 10vh;
	background: rgba(38,54,64,0.5);
	border-radius: 4px;
	margin-right: 0.48vw;
	margin-bottom:6px;
	overflow: hidden;
	position: relative;
	padding: 1.41vh 1.282vw;
	font-size: 0.77vw;
}
.operationsArea>.tab>.fruit ol>li{
	float: right;
	margin-left: 0.48vw;
	margin-right: 0px;
}
.operationsArea>.tab>.fruit li>u{
	position: absolute;
	top: 3.2vh;
	left: 1.538vw;
}
.operationsArea>.tab>.fruit li>#roomID{
	position: absolute;
	top: 2.6vh;
	left:  5vw;
	color: #0FF53B;
}
.operationsArea>.tab>.fruit li>.JG{
	position: absolute;
	left: 11vw;
	top: 2.6vh;
}
.operationsArea>.tab>.fruit li>.CX{
	position: absolute;
	left: 11vw;
	top:6vh;
}
.operationsArea>.tab>.fruit li>.CG{
	position: absolute;
	top: 6vh;
	left: 5.1vw;
}
/****************** 模弹框 *****************/

.modal{
	width:100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.4);
	position:absolute;
	top: 0px;
	z-index: 1;
}
.modal>.box{
	width: 45.384vw;	
	margin: auto;	
	padding: 2.05vh 1.92vw;
	font-size: 1.025vw;
	border-width: 3px;
	border-style: solid;
	border-color: rgba(204,234,129,0.9); 
	background-color: rgba(246,246,246,0.9);
	position: relative;
	top: 8vh;
	left: 0px;
	right: 0px;
	bottom: 0px;
	color: #000;
	z-index: 2;
}
.modal>.box>h4{
	color: #4d6abf;
	border-bottom: 1px solid #4d6abf;
}
.modal>.box>h4>#close{
	cursor: pointer;	
}
.modal>.box>.mbody{
	padding-left:2.05vw;
	padding-right:3.2vw;
}
.modal>.box label{
	width: 100%;
	display: block;
	line-height: 3.067vh;
	margin: 2vh 0px;
	overflow: hidden;
}
.modal>.box label.disabled{
	color: #727272;
}
.modal>.box label.disabled input{
	color: #727272;
}
.modal>.box>.mbody label>strong,.modal>.box>.mbod label>span{
	float: left;
	width: 9.3vw;
	text-align: left;
}
.modal>.box>.mbody label>input,.modal>.box>.mbody label>textarea,.modal>.box>.mbody label>select{
	float: right;
	width: 26.4vw;
	text-align: left;	
	font-size: 0.769vw;
	border: 1px solid #515151;
	padding: 0px 9px;
	resize:none;
}
.modal>.box>.mbody label>input,.modal>.box>.mbody label>select{
	height: 3.067vh;
}
.modal>.box>.mbody label>ul.detail{
	width: 26.4vw;
	text-align: left;	
	font-size: 0.769vw;
	border: 1px solid #515151;
	overflow-y: scroll;
} 
.modal>.box>.mbody label>ul.detail>li{
	padding: 0px 9px;
}
.modal>.box>.mbody label>ul.detail>li>b{
 	width: 10px;
    height: 10px;
    margin-right: 6px;
}
.modal>.box>.mbody label>ul.detail>li>b.past{
 	background-color: #515151;
}
.modal>.box>.mbody label>ul.detail>li>b.now{
 	background-color: #c61414;
}
.modal>.box>.mbody label>ul.detail>li>b.future{
 	background-color: #0ff53b;
}
.modal>.box>.mbody label>select{
	background-image: url(../img/会议室使用记录_03.png);
	background-repeat: no-repeat; 
	background-position: 0px 0px;
	background-size: 100% 100%;
}
.modal>.box>.mbody>.timeBox>label{
	width: 10.641vw;
	overflow: hidden;
	line-height:  3.067vh;
	margin-right: 1.889vw;
}
.modal>.box>.mbody>.timeBox>label:nth-last-child(1){
	margin-right: 0px;
}
.modal>.box>.mbody>.timeBox span{
	float: left;
}
.modal>.box>.mbody>.timeBox input{
	width: 4.615vw;
	float: right;
	height: 3.067vh;
	line-height: 3.067vh;
	border: 1px solid #515151;
	text-align: center;
}
/* img */

.imgModal>.box>.mbody>div.overflow>.lt{
	width: calc(100% - 14.884vw);
}
.imgModal>.box>.mbody>div.overflow>.lt input,.imgModal>.box>.mbody>div.overflow>.lt select{
	width: calc(26.4vw - 14.884vw);
}
.imgModal>.box>.mbody>div.overflow>.rt{
	width: 14.384vw;
	text-align: center;
}
.imgModal>.box>.mbody>div.overflow>.rt>div.img{
	width: 14.384vw;
	height: 18vh;
	/*border: 1px solid #515151;*/
	margin-top: 1vh;
}
.imgModal>.box>.mbody>div.overflow>.rt>div.img ul{
	width: 100%;
	height: 15vh;
}
.imgModal>.box>.mbody>div.overflow>.rt>div.img.active ul{
	height:74vh;
}
.imgModal>.box>.mbody>div.overflow>.rt>div.img.active{
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	bottom:0px;
	margin: auto;
	width: 140%;
	margin-left: -20%;
	height: 70vh;
	z-index: 99;
}
.imgModal>.box>.mbody>div.overflow>.rt>div.img.active b.close{
	position: absolute;
	top: 0px;
	right: 0px;	
	width: 20px;
	height: 20px;
	line-height:20px;
	font-style: initial;
	background-color: red;
	color: #fff;
	cursor: pointer;
}
.imgModal>.box>.mbody>div.overflow>.rt>div.img input#imgName{
	width: 100%;
	border: none;
	text-align: center;
	background: none;
	
}
.imgModal>.box>.mbody>div.overflow>.rt>div.img.active>input#imgName{		
	color: #fff;	
}
.imgModal>.box>.mbody>div.overflow>.rt>.btns>p{
	width: 33%;
	height: 3.27vh;
	position: relative;
}
.imgModal>.box>.mbody>div.overflow>.rt>.btns>p>button{
	width: 100%;
	height: 3.27vh;
}
.imgModal>.box>.mbody>div.overflow>.rt>.btns>button{
	width: 33%;
    height: 3.27vh;
}
.imgModal>.box>.mbody>div.overflow>.rt>.btns>p input[type = file]{
	width:  33%;
    height: 3.27vh;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}

/*** end ***/
.modal>.box>.mfoot{
	margin-top:1vh;
}
.modal>.box>.mfoot>button{
	width: 5.769vw;
	height: 3.6vh;
	background:url(../img/button2.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	color: #fff;
	border: none;
	outline: none; 
	overflow: hidden;
	padding-left:1vw;
	cursor: pointer;
	font-size: 0.897vw;
	position: relative;
}
 .modal>.box>.mfoot>button>u.lt{
	/* position: absolute;
    top: 0.3vw;
    left: 1vw; */
    margin-top:-0.2vh;
}  
.modal>.box>.mfoot>button>span.lt{
	/* position: absolute;
    top: 0.4vh;
    left: 2.5vw; */
    transform: scale(1) translate(0px,0.26vw);
    -ms-transform: scale(1) translate(0px,0.26vw);
    -moz-transform: scale(1) translate(0px,0.26vw);
    -webkit-transform: scale(0.86) translate(0px,-0.26vw);   
    margin-left:-0.4vw;
}



.Tmodal .inputs>div.lt,.Tmodal .inputs>div.rt{
	width: 50%;
	padding: 0px 0.4vw;
	font-size: 0.825vw;
}
.Tmodal .inputs>div.lt input,
.Tmodal .inputs>div`.lt select,
.Tmodal .inputs>div.rt input,
.Tmodal .inputs>div.rt select{
	width: 11.2vw;
}
.Tmodal .inputs>div>label>textarea#remarks{
	width:29.2vw;
}
.Tmodal div.tab{
	overflow-y: scroll;
	height: 24.9vh;
	position: relative;
	border: 1px solid #000;
}
.Tmodal div.tab>table{
	width: 100%;
	font-size: 0.825vw;
}
.Tmodal div.tab>table.tabTitle{
	position: sticky;
	background-color: #557CBC;
	top: 0px;
	z-index: 99;
}
.Tmodal div.tab>table.tabTitle th{
	height: 2vh;
}
.Tmodal div.tab>table.tabTbody{
	margin-top:-2px;
}
.Tmodal div.tab>table.tabTbody .save{
	width:14px;
	height:14px;
	border:none;
	background:url(../img/save.png) no-repeat 0px 0px;
	background-size:100% 100%;
	margin:0px 0.2vw;
}

.Tmodal div.tab>table.tabTbody .del{
	width:14px;
	height:14px;
	border:none;
	background:url(../img/del.png) no-repeat 0px 0px;
	background-size:100% 100%;
	margin:0px 0.2vw;
}
.Tmodal div.tab>table.tabTbody .empty{
	width:14px;
	height:14px;
	border:none;
	background:url(../img/empty.png) no-repeat 0px 0px;
	background-size:100% 100%;
	margin:0px 0.2vw;
}

.Tmodal div.tab>table.tabTbody input,.Tmodal div.tab>table.tabTbody select{
	width: 100%;
	background-color: transparent;
	border: none;
}
.Tmodal div.tab>table th,
.Tmodal div.tab>table td{
	width: 20%;
}
.Ibtn, .modal>.box label.Fbtn{
	width: 6.58vw;
	height: 3.6vh;
	background: url(../img/button.png) no-repeat 0px 0px;
	background-size: 100% 100%;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
	padding-bottom: 4px;
	margin-right: 1.302vw;
	font-size: 0.88vw;
}
}

/* 分页样式  */
#page,#pagination{
	margin-top:1.6vw;
}

@media (max-width: 1200px) {	
	span.webkit,   
	b.webkit{ 
		font-size: 10px;
		-webkit-transform: scale(0.86);	
		-moz-transform: scale(1);						
	}
	.login>.loginBox>label>input{
		width:70%;
	}
	.operationsArea>.buttons>button>u{
		-moz-transform: translate(-3px,0px);
		margin-right:0.456vw;
	}
	.operationsArea > .tab > .seat li .useIng,
	.operationsArea > .tab > .seat li .null{
		font-size: 10px;
		-webkit-transform: scale(0.8);
		-moz-transform: scale(1) translate(2px,0px);		
		-ms-transform: translate(2px,0px) scale(1);
	}
	
	.operationsArea > .tab > .seat ul > li .room{
		font-size: 11px;
		-webkit-transform: translate(0px,0px) scale(0.9);
		-moz-transform: translate(2px,0px) scale(1);
		-ms-transform: translate(2px,0px) scale(1);
	}

	.operationsArea>.tab>.fruit li>.CG,
	.operationsArea>.tab>.fruit li>#roomID,
	.operationsArea>.tab>.fruit li>.JG,
	.operationsArea>.tab>.fruit li>.CX{
		-moz-transform: scale(1);
	}
	
	.operationsArea>.tab>.seat ul>li{
		width: 10.7vw;  
	}
	
	.operationsArea > .inputs > select, 
	.operationsArea > .inputs > input{
		font-size: 10px;				
	}
	
	.seat strong#roomID>.webkit:nth-child(1),
	.seat p.JG>.webkit:nth-child(1),
	.seat p.CX>.webkit:nth-child(1),
	.seat p.CG>.webkit:nth-child(1){
		font-size: 11px;		
		-webkit-transform:scale(0.9);
		-moz-transform: scale(1);
		
	}
	
	.seat strong#roomID>.webkit:nth-last-child(1),
	.seat p.JG>.webkit:nth-last-child(1),
	.seat p.CX>.webkit:nth-last-child(1),
	.seat p.CG>.webkit:nth-last-child(1){
		font-size: 11px;		
		-webkit-transform: translate(-6px,0px) scale(0.9);
		-moz-transform: translate(-3px,0px) scale(1);
		-ms-transform: translate(-3px,0px) scale(1);
	}
		
}