<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>NEW</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/icon.css" />
		<script src="js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
		<style>			
			.body{
				width: 100vw;
				height: 100vh;
				background: url(img/bg.png) no-repeat 0px 0px;
				background-size: 100% 100%;
			}
			iframe{
				width: 81.25vw;
				height: 90.522vh;
				border: none; 
				padding: 1.852vh 1.0417vw 2.407vh 1.0417vw;				 
			}
		</style>
	</head>

	<body class="body">
		<header>
			<div class="header overflow" id="top">
				<div class="lt">
					<span></span>
				</div>
				<div class="rt">
					<i class="user"></i>
					<span class="name">
						你好， <strong style="color:#eaed51;">管理员</strong> |
					</span>
					<span id="time"></span>
				</div> 
			</div>
			
		</header>
		<!--<aside></aside>-->
		<article id="right" class="overflow">
			<nav id="menu" class="content lt" style="height:calc(100vh - 5.93vh);">
				<ul id="accordion" class="accordion">
				<!-- <li>
						<div class="link">
							<u class="jdgl"></u>
							接待管理
						</div>
						<ul class="submenu">
							<li>
								<a href="./reception/register.html" class="active">
									<u class="jddj"></u>
									接待登记
								</a>
							</li>
							<li>
								<a href="./reception/receptionNews.html">
									<u class="jdxxgl"></u>
									接待信息管理
								</a>
							</li>
							<li>
								<a href="./reception/boardroomUse.html">
									<u class="hyssyjl"></u>
									会议室使用记录
								</a>
							</li>
							<li>
								<a href="./reception/guestInformation.html">
									<u class="bkxxgl"></u>
									宾客信息管理
								</a>
							</li>							 
						</ul>
					</li>
					<li>
						<div class="link">
							<u class="Jdgl"></u>
							酒店管理
						</div>
						<ul class="submenu">
							<li>
								<a href="#">
									<u class="Jdxxgl"></u>
									酒店信息管理
								</a>
							</li>
							<li>
								<a href="./hotelManagement/HotelContrast.html">
									<u class="Jddb"></u>
									酒店对比
								</a>
							</li>
							<li>
								<a href="#">
									<u class="fjxxgl"></u>
									房间信息管理
								</a>
							</li>
							<li>
								<a href="#">
									<u class="hysxxgl"></u>
									会议室信息管理
								</a>
							</li>
							<li>
								<a href="#">
									<u class="tccpxxgl"></u>
									套餐菜品信息管理
								</a>
							</li>
						</ul>
					</li>
					<li>
						<div class="link">
							<u class="xtgl"></u>
							系统管理
						</div>
						<ul class="submenu">
							<li>
								<a href="#">
									<u class="yhsz"></u>
									用户设置
								</a>
							</li>
							<li>
								<a href="#">
									<u class="jssz"></u>
									角色设置
								</a>
							</li>
							<li>
								<a href="#">
									<u class="mksz"></u>
									模块设置
								</a>
							</li>
							<li>
								<a href="#">
									<u class="czrz"></u>
									操作日志
								</a>
							</li>
							<li>
								<a href="#">
									<u class="sjkpz"></u>
									数据库配置
								</a>
							</li>
							<li>
								<a href="#">
									<u class="sjzdwh"></u>
									数据字典维护
								</a>
							</li>
						</ul>
					</li>  -->	
		 		</ul>
			</nav>		
			<section class="lt">
				<div id="Tab">
					 <span>当前位置：</span>
					 <i>基础数据</i>
					 <i>&nbsp;/&nbsp;</i>
					 <i>酒店信息</i>
				</div>
				<div id="iframeBox"></div>
			</section>			
		</article>

		<div class="modal none">
			<div class="box">
				<h4 class="overflow">
					<p class="lt">用户信息明细</p>
					<p class="rt" id="close" onclick="$(this).parents('.modal').hide()">X</p>
				</h4>
				<div class="mbody">
					<label for="user">
						<strong>*用户名</strong>
						<input type="text" name="user" id="user" value="" />
					</label>
					<label for="nickName">
						<strong>*昵称</strong>
						<input type="text" name="nickName" id="nickName" value="" />
					</label>
					<label for="password">
						<span>密码</span>
						<input type="text" name="password" id="password" value="123456" />
					</label>
					<label for="role">
						<strong>*角色</strong>
						<input type="text" name="role" id="role" value="" />
					</label>
					<label for="start">
						<span>启用</span>						
						<input type="checkbox" name="start" id="start" value="" />
						<u></u>
					</label>
					<label for="remarks">
						<span>备注</span>
						<textarea name="" rows="5" cols="30" id="remarks"></textarea>
					</label>
				</div>
				<div class="mfoot">
					<button>保存</button>
					<button>取消</button>
				</div>
			</div>
		</div>
	</body>
	<script src="js/index3.js" type="text/javascript" charset="utf-8"></script>	 
	<script type="text/javascript">
		 var day = new Date(); 
		 var today = new Array('星期日','星期一','星期二','星期三','星期四','星期五','星期六');  
		 var week = today[day.getDay()];  
		 //最终结果为：  
		 $('#time').text(day.getFullYear()+"年"+day.getDay()+ "月"+day.getDate()+"日"+ week)
	</script>
</html>