<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>接待管理系统</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/icon.css" />
		<script src="../assets/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
		<style>			
			.body{
				width: 100vw;
				height: 100vh;
				background: url(../assets/img/bg.png) no-repeat 0px 0px;
				background-size: 100% 100%;
			}			
		</style>
	</head>

	<body class="body">
		<header>
			<div class="header overflow" id="top">
				<div class="lt">
					<a href=""> <span></span></a>
				</div>
				<div class="rt">
					<i class="user" onclick='$(".modal").show(500)'></i>
					<span class="name" >
						你好， <strong id="usernick" style="color:#eaed51;">管理员</strong> |
					</span>
					<span class="name">
						<a onclick="logout()" href="../login/login.html" style="color:#fff;">退出</a>
					</span>
					<span id="time"></span>
				</div> 
			</div>			
		</header>
		<article id="right" class="overflow">
			<nav id="menu" class="content lt" style="height:calc(100vh - 5.93vh);">
				<ul id="accordion" class="accordion">
					<!-- <li>
						<div class="link">
							<u class="jdgl"></u>
							接待管理
						</div>
						<ul class="submenu">
							<li>
								<a href="../reception/register.html" class="active">
									<u class="jddj"></u>
									接待登记
								</a>
							</li>
							<li>
								<a href="../reception/receptionNews.html">
									<u class="jdxxgl"></u>
									接待信息管理
								</a>
							</li>
							<li>
								<a href="../reception/boardroomUse.html">
									<u class="hyssyjl"></u>
									会议室使用记录
								</a>
							</li>
							<li>
								<a href="../reception/guestInformation.html">
									<u class="bkxxgl"></u>
									宾客信息管理
								</a>
							</li>							 
						</ul>
					</li>
					<li>
						<div class="link">
							<u class="Jdgl"></u>
							酒店管理
						</div>
						<ul class="submenu">
							<li>
								<a href="#">
									<u class="Jdxxgl"></u>
									酒店信息管理
								</a>
							</li>
							<li>
								<a href="../hotel/HotelContrast.html">
									<u class="Jddb"></u>
									酒店对比
								</a>
							</li>
							<li>
								<a href="../hotel/roomContrast.html">
									<u class="fjxxgl"></u>
									房间信息管理
								</a>
							</li>
							<li>
								<a href="#">
									<u class="hysxxgl"></u>
									会议室信息管理
								</a>
							</li>
							<li>
								<a href="#">
									<u class="tccpxxgl"></u>
									套餐菜品信息管理
								</a>
							</li>
						</ul>
					</li>
					<li>
						<div class="link">
							<u class="xtgl"></u>
							系统管理
						</div>
						<ul class="submenu">
							<li>
								<a href="../system/userSheZhi.html">
									<u class="yhsz"></u>
									用户设置
								</a>
							</li>
							<li>
								<a href="../system/roleSheZhi.html">
									<u class="jssz"></u>
									角色设置
								</a>
							</li>
							<li>
								<a href="../system/module.html">
									<u class="mksz"></u>
									模块设置
								</a>
							</li>
							<li>
								<a href="../system/log.html">
									<u class="czrz"></u>
									操作日志
								</a>
							</li>
							<li>
								<a href="../system/configure.html">
									<u class="sjkpz"></u>
									数据库配置
								</a>
							</li>
							<li>
								<a href="../system/weiHu.html">
									<u class="sjzdwh"></u>
									数据字典维护
								</a>
							</li>
						</ul>
					</li> -->
		 		</ul>
			</nav>		
			<section class="lt">
				<div id="Tab">
					 <span>当前位置：</span>
					 <i>首页</i>
				</div>
				<div id="iframeBox"></div>
			</section>			
		</article>

		<div class="modal none">
			<div class="box">
				<h4 class="overflow">
					<p class="lt">用户信息明细</p>
					<p class="rt" id="close" onclick="$(this).parents('.modal').hide()">X</p>
				</h4>
				<div class="mbody">
					<label for="user">
						<strong>用户名</strong>
						<input type="text" name="user" id="username" value="" disabled />
					</label>
					<label for="nickName">
						<strong>用户昵称</strong>
						<input type="text" name="nickName" id="unick" value="" />
					</label>
					<label for="start">
						<span>*新密码</span>						
						<input type="password" name="password" id="password" value="123456" />
					</label>
					<label for="password">
						<span>*确认密码</span>
						<input type="password" name="password" id="newpassword" value="123456" />
					</label>				 
				</div>
				<div class="mfoot" style="text-align: center;">
					<button onclick="updatePass()">
						<u class="confirm lt"></u>
						<span class="lt">保存</span>
					</button>
					<button onclick="$(this).parents('.modal').hide(100)">
						<u class="cancel lt"></u>
						<span class="lt">取消</span>
					</button>
				</div>
			</div>
		</div>
		
	</body>
	<script src="js/index3.js" type="text/javascript" charset="utf-8"></script>	 
	<script type="text/javascript">
		 var day = new Date(); 
		 var today = new Array('星期日','星期一','星期二','星期三','星期四','星期五','星期六');  
		 var week = today[day.getDay()];  
		 var month = day.getMonth()+1;
		 //最终结果为：  
		 $('#time').text(day.getFullYear()+"年"+ month + "月"+day.getDate()+"日"+ week)
	</script>
</html>