<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>会议室使用信息</title>
<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
<link rel="stylesheet" type="text/css" href="../assets/css/icon.css" />
<link rel="stylesheet" type="text/css" href="../assets/css/pagination.css" />
<script src="../assets/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../assets/js/pagination.min.js"    type="text/javascript" charset="utf-8"></script>  
<script src="../assets/js/Calendar.js"          type="text/javascript" charset="utf-8"></script> 
</head>
<body>
	<div class="operationsArea">
		<div class="buttons">  
			<button onclick="exportConFereceRecordinfo()">
				<u class="dc"></u><span class="webkit">导出</span>
			</button>  
		</div>  
		<div class="inputs">
			<span>开始日期：</span>
			<input type="text" name="begin_DATE" id="begin_DATE" value="" onclick="new Calendar().show(this);"/>
			<span>结束日期：</span>
			<input type="text" name="end_DATE" id="end_DATE" value="" onclick="new Calendar().show(this);"/>			
			<select id="hotelName" name="hotelName" onchange="confereceList();load_conferenceRecordInfo(sessionStorage.currPage,sessionStorage.pageSize);" class="hotel">
			</select> <select id="conference_name" name="conference_name" onchange= load_conferenceRecordInfo(sessionStorage.currPage,sessionStorage.pageSize);>
			</select>
			<button onclick = load_conferenceRecordInfo(sessionStorage.currPage,sessionStorage.pageSize);>
				<span class="webkit">查询</span>
			</button>
			<button onclick = reset();>
				<span class="webkit">清空</span>
			</button>
		</div>
		<div class="tab">
			<table class="table" cellspacing="0">
				<thead>
					<tr> 
						<th>会议室使用编号</th>
						<th>会议室名称</th>
						<th>酒店名称</th>
						<th>使用日期</th>
						<th>开始时间</th>
						<th>结束时间</th>
						<th>用途说明</th>
						<th>来宾人数</th>
						<th>备注</th> 
					</tr>
				</thead>
				<tbody id="info"> 
				</tbody>
			</table>
			<div id="page" class="text-center"></div>
		</div>
	</div>
	<input value="" type="hidden" id="id" >
	<!--模态框-->
	<div class="modal none">
		<div class="box">
			<h4 class="overflow">
				<p class="lt">
					<span>会议室记录明细</span>
				</p>
				<p class="rt" id="close"
					onclick="$(this).parents('.modal').hide(800);emptyModal();">
					<u></u>
				</p>
			</h4>
			<div class="mbody">
				<label for="ID" class="disabled"> <span>*会议室使用编号：</span> <input
					type="text" name="Use_Number" id="Use_Number" value=""
					readonly="readonly" />
				</label> <label for="receiver"> <span>酒店名称：</span> <select
					name="HOTEL" id="HOTEL" class="hotel"
					onchange=confereceList(this)> 
				</select>
				</label> <label for="nickName"> <span>会议室名称：</span> <select
					name="UCONFERENCE_NAME" id="UCONFERENCE_NAME">
				</select>
				</label> <label for="role"> <span>使用日期：</span> <input onclick="new Calendar().show(this);"
					type="text" name="USE_DATE" id="USE_DATE" value="" class="date_input"/>
				</label>
				<div class="timeBox overflow">
					<label for="startTime" class="lt"> <span>开始时间：</span> <input
						type="text" name="START_TIME" id="START_TIME" value=""  readonly />
					</label> <label for="footTime" class="lt"> <span>结束时间：</span> <input
						type="text" name="END_TIME" id="END_TIME" value="" readonly />
					</label> <label for="mens" class="lt"> <span>来宾人数：</span> <input
						type="number" name="GUEST_NUM" id="GUEST_NUM" value="" />
					</label>
				</div>
				<label for="user"> <span>用途说明：</span> <input type="text"
					name="PURPOSE" id="PURPOSE" value="" />
				</label>  
				<label for="remarks"> <span>备注</span> <textarea name="REMARK"
						rows="5" cols="30" id="REMARK"></textarea>
				</label>
			</div>
			<div class="mfoot" align="center"> 
				<button onclick="$(this).parents('.modal').hide(800);emptyModal()">
					<u class="cancel lt"></u> <span class="lt">关闭</span>
				</button>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript"> 
		$(function(){ 
			hotelShow();
			confereceList();
			load_conferenceRecordInfo();  
		}); 
	function load_conferenceRecordInfo(pageNum, pageSize) { 
		pageNum == null ? "" : pageNum;
		pageSize == null ? "" : pageSize;
		
		var hotelName,conference_name;
		if($("#hotelName").val() != ""){
			hotelName = $("#hotelName").find("option:selected").text();
		}
		
		if($("#conference_name").val() != ""){
			conference_name = $("#conference_name").find("option:selected").text();
		}
		
		$.get("../../ConferenceRecordController/queryConferenceRecordByPage", {
			pageNum : pageNum,
			pageSize : pageSize,
			hotelName : hotelName,
			conference_name:conference_name,
			begin_DATE : $('#begin_DATE').val(),
			end_DATE : $('#end_DATE').val()
		}, function(result) {
			result = $.parseJSON(result); 
			var info = $("#info").empty(); 
			for (var i = 0, j = result.list.length; i < j; i++) {
				var list = result.list[i];
				info.append("<tr ondblclick='showConferenceRecord(\"" + list.Id + "\")' ><td>" + list.Use_number + "</td><td>" + list.Conference_name + "</td><td>" + list.Hotel + "</td>" +
					"<td>" + list.Use_date + "</td><td>" + list.Start_time + "</td><td>" + list.End_time + "</td><td>" + list.Purpose + "</td><td>" + list.Guest_num + "</td><td>" + (list.Remark == null ? "" : list.Remark) +"</td></tr>");
			}
			$("#page").whjPaging({
				//可选，每页显示条数下拉框，默认下拉框5条/页(默认)、10条/页、15条/页、20条/页
				pageSizeOpt : [
					{
						'value' : 5,
						'text' : '5条/页'
					},
					{
						'value' : 10,
						'text' : '10条/页',
						'selected' : true
					},
					{
						'value' : 15,
						'text' : '15条/页'
					},
					{
						'value' : 20,
						'text' : '20条/页'
					}
				],
				//可选，css设置，可设置值：css-1，css-2，css-3，css-4，css-5，默认css-1，可自定义样式
				css : 'css-1',
				//可选，总页数
				totalPage : result.pages,
				//可选，展示页码数量，默认5个页码数量
				showPageNum : 10,
				//可选，首页按钮展示文本，默认显示文本为首页
				firstPage : '首页',
				//可选，上一页按钮展示文本，默认显示文本为上一页
				previousPage : '上一页',
				//可选，下一页按钮展示文本，默认显示文本为下一页
				nextPage : '下一页',
				//可选，尾页按钮展示文本，默认显示文本为尾页
				lastPage : '尾页',
				//可选，跳至展示文本，默认显示文本为跳至
				skip : '跳至',
				//可选，确认按钮展示文本，默认显示文本为确认
				confirm : '确认',
				//可选，刷新按钮展示文本，默认显示文本为刷新
				refresh : '刷新',
				//可选，共{}页展示文本，默认显示文本为共{}页，其中{}会在js具体转化为数字
				totalPageText : '共{}页',
				//可选，是否展示首页与尾页，默认true
				isShowFL : true,
				//可选，是否展示每页N条下拉框，默认true
				isShowPageSizeOpt : true,
				//可选，是否展示跳到指定页数，默认true
				isShowSkip : true,
				//可选，是否展示刷新，默认true
				isShowRefresh : true,
				//可选，是否展示共{}页，默认true
				isShowTotalPage : true,
				//可选，是否需要重新设置当前页码及总页数，默认false，如果设为true，那么在请求服务器返回数据时，需要调用setPage方法
				isResetPage : false,
				//必选，回掉函数，返回参数：第一个参数为页码，第二个参数为每页显示N条
				callBack : function(currPage, pageSize) {
					sessionStorage.currPage = currPage;
					sessionStorage.pageSize = pageSize;
					load_conferenceInfo(currPage, pageSize);
				}
			});
		});
	}   
	 /*
	 * 酒店下拉加载
	 */
	function hotelShow(input){
		var hotelName = $(input).val();
		//alert(hotelName);
		$.ajax({
			type : "post",
			data :{"hotelName":hotelName},
			url : "../../hotel/listByName",
			success : function(data) {
				var obj = eval(data); 
				$(".hotel").empty();
				$(".hotel").append(
					"<option value=''>--请选择酒店--</option>"
				);
				for (var i = 0, len = obj.length; i < len; i++) {
					$(".hotel").append(
						"<option value='" + obj[i].id + "'>" + obj[i].hotelName + "</option>"
					);
				}
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) {
				//alert(XMLHttpRequest.status);
				//alert(XMLHttpRequest.readyState);
				//alert(textStatus);
				console.log("ERROR:" + XMLHttpRequest.status, XMLHttpRequest.readyState, textStatus);
			}
		})
	}
	  
	function confereceList(){     
		$.ajax({
			type : "get", 
			url : "../../ConferenceController/queryConferenectList/",
			data:{
				hotel_name : $("#hotelName").find("option:selected").text()
			},
			success : function(data) {   
				var obj = eval(data);   
				$("#conference_name").empty();  
				$("#conference_name").append(
					"<option value=''>--请选择会议室--</option>"
				);
				for (var i = 0, len = obj.length; i < len; i++) {   
						$("#conference_name").append(
						"<option value='" + obj[i].id + "'>" + obj[i].conference_name + "</option>" 
							); 
				}
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) { 
			}
		})
	}
	
	
	 function showConferenceRecord(id){ 
    			 $('#upBut').show(500);
				 $('#addBut').hide(500);
    		$.get("../../ConferenceRecordController/queryConferenceRecordById/"+id, 
				function(result){  
					 data = $.parseJSON(result);  
					 $('.modal').show(500); 
					 $("#Use_Number").val(data.Use_number);
					 upHotelShow(data.Hotel);
					 upconfereceList(data.Hotel,data.Conference_name);
					 $("#HOTEL").val(data.Hotel) ;
					 $("#USE_DATE").val(data.Use_date);
					 $("#START_TIME").val(data.Start_time);
					 $("#END_TIME").val(data.End_time);
					 $("#PURPOSE").val(data.Purpose);
					 $("#GUEST_NUM").val(data.Guest_num);
					 $("#REMARK").val(data.Remark); 
				} 
			); 	
    }
    /*
	 * 更新时酒店下拉加载
	 */
	function upHotelShow(hotelName){ 
		$.ajax({
			type : "post", 
			url : "../../hotel/listByName",
			success : function(data) {
				var obj = eval(data); 
				$("#HOTEL").empty();
				$("#HOTEL").append(
					"<option value=''>--请选择酒店--</option>"
				);
				for (var i = 0, len = obj.length; i < len; i++) {
					if(hotelName == obj[i].hotelName){
						$("#HOTEL").append(
						"<option value='" + obj[i].id + "' selected>" + obj[i].hotelName + "</option>"
					);
					}else{
						$("#HOTEL").append(
						"<option value='" + obj[i].id + "'>" + obj[i].hotelName + "</option>"
					);
					}
					
				}
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) {
				//alert(XMLHttpRequest.status);
				//alert(XMLHttpRequest.readyState);
				//alert(textStatus);
				console.log("ERROR:" + XMLHttpRequest.status, XMLHttpRequest.readyState, textStatus);
			}
		})
	}
	/*
	 * 更新时会议室加载
	 */
	function upconfereceList(hotelName,CONFERENCE_NAME){   
		$.ajax({
			type : "get", 
			url : "../../ConferenceController/queryConferenectList/",
			data:{
				hotel_name : hotelName
			},
			success : function(data) {  
				var obj = eval(data); 
				$("#UCONFERENCE_NAME").empty();   
				for (var i = 0, len = obj.length; i < len; i++) {  
					if(CONFERENCE_NAME == obj[i].conference_name){
						$("#UCONFERENCE_NAME").append(
						"<option value='" + obj[i].id + "' selected=selected>" + obj[i].conference_name + "</option>"
							); 
					}else{
						$("#UCONFERENCE_NAME").append(
						"<option value='" + obj[i].id + "'>" + obj[i].conference_name + "</option>" 
							);
					
					}
				}
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) { 
			}
		})
	} 
	function exportConFereceRecordinfo(){
			var hotelName = $("#hotelName").find("option:selected").text();
			var conference_name = $("#conference_name").find("option:selected").text();
			 
			if($("#hotelName").val() == "" || $("#hotelName").val() == null){
				hotelName = "";
			}
			
			if($("#conference_name").val() == "" || $("#conference_name").val() == null){
				conference_name = "";
			}   
			var utl = '../../ConferenceRecordController/export?hotelName='+hotelName+'&conference_name='+conference_name+'&begin_DATE='+$("#begin_DATE").val()+'&end_DATE='+$("#end_DATE").val(); 
	
		var form=$("<form>");//定义一个form表单 
		        form.attr("method","get");
		        form.attr("action",utl);
		        $("body").append(form);//将表单放置在web中 
		        form.submit();//表单提交   
		        form.remove(); 
		}
	function reset(){
		$('#begin_DATE').val('');
		$('#end_DATE').val('');
		$('#hotelName').val('');
		$('#conference_name').val(''); 
	}
</script>
</html>
