<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
<link rel="stylesheet" type="text/css" href="../assets/css/icon.css" />
<link rel="stylesheet" type="text/css"
	href="../assets/css/pagination.css" />

<script type="text/javascript" src="../assets/js/jquery-1.10.2.min.js"></script>
<!-- Paginator -->
<script src="../assets/js/pagination.min.js"></script>
<script type="text/javascript" src="js/receptionManage.js"></script>

<style type="text/css">
.Tmodal div.tab>table th, .Tmodal div.tab>table td {
	width: 6% !important;
}
</style>
</head>
<body>
	<div class="operationsArea">
		<div class="buttons">
			<button onclick="edit()">
				<u class="bj"></u> <span class="webkit">编辑</span>
			</button>
			<button onclick="dele()">
				<u class="sc"></u> <span class="webkit">删除</span>
			</button>
			<button>
				<u class="dyyl"></u> <span class="webkit">打印预览</span>
			</button>
			<button>
				<u class="dy"></u> <span class="webkit">打印</span>
			</button>
			<button>
				<u class="dr"></u> <span class="webkit">导入</span>
			</button>
			<button>
				<u class="dc"></u> <span class="webkit">导出</span>
			</button>
			<button>
				<u class="sx"></u> <span class="webkit">刷新</span>
			</button>
		</div>
		<div class="inputs">
			接待酒店： <select id="input_hotel">
				<option value="">东方大酒店</option>
				<option value="">接待日期</option>
				<option value="">接待人</option>
				<option value="">宾客姓名</option>
				<option value="">用餐</option>
				<option value="">用餐时间</option>
				<option value="">宾客喜好</option>
				<option value="">备注</option>
			</select> 接待名称：<input id="input_receptionTitle" type="text" value="" /> 接待日期：<input
				id="input_receptionDate" type="text" value="" />
			<button onclick="search()">
				<span class="webkit">查询</span>
			</button>
			<button class="m-0">
				<span class="webkit">清空</span>
			</button>
		</div>

		<div class="tab">
			<table class="table" cellspacing="0">
				<thead>
					<tr>
						<th>选择</th>
						<th>接待编号</th>
						<th>接待名称</th>
						<th>接待日期</th>
						<th>接待人</th>
						<th>接待资料打印人员</th>
						<th>宾客姓名</th>
						<th>陪同人员</th>
						<th>来宾人数</th>
						<th>接待人次</th>
						<th>接待天数</th>
						<th>接待酒店</th>
						<th>描述</th>
					</tr>
				</thead>

				<tbody id="tablebody">
					<tr ondblclick="view()">
						<td><label><input type="Checkbox" name="check"
								value=""/><u></u></label></td>
						<td>接待编号</td>
						<td>接待日期</td>
						<td>接待人</td>
						<td>宾客姓名</td>
						<td>用餐</td>
						<td>用餐时间</td>
						<td>入住房间号</td>
						<td>入住日期</td>
						<td>退房日期</td>
						<td>宾客喜好</td>
						<td>备注</td>
					</tr>
				</tbody>
			</table>
			<!-- 分页插件  -->
			<div class="text-center" id="page"></div>
		</div>
	</div>
	<!--模态框-->
	<div class="modal none Tmodal">
		<div class="box" style="top:0px;">
			<h4 class="overflow">
				<p class="lt">
					<span>接待记录明细</span>
				</p>
				<p class="rt" id="close"
					onclick="$(this).parents('.modal').hide(800)">
					<u></u>
				</p>
			</h4>
			<div class="mbody">
				<div class="inputs overflow ">
					<div class="lt">
						<label for="receptionNumber"> <span>接待编号</span> <input
							type="text" name="receptionNumber" id="receptionNumber" value="" />
						</label> <label for="receptionDate"> <span>接待日期</span> <input
							name="receptionDate" id="receptionDate" value="" />
						</label> <label for="guestName"> <span>宾客姓名</span> <input
							name="guestName" id="guestName" value="" />
						</label> <label for="guestNum"> <span>宾客人数</span> <input
							name="guestNum" id="guestNum" value="" />
						</label><label for="receptionPrinter"> <span>资料打印人</span> <input
							name="receptionPrinter" id="receptionPrinter" value="" />
						</label> <label for="hotel"> <span>接待酒店</span> <input name="hotel"
							id="hotel" value="" />
						</label> <label for="recordTime"> <span>登记时间</span> <input
							name="recordTime" id="recordTime" value="" />
						</label>

					</div>
					<div class="rt">
						<label for="receptionTitle"> <span>接待名称</span> <input
							name="receptionTitle" id="receptionTitle" value="" />
						</label> <label for="receptionPerson"> <span>接待人员：</span> <input
							name="receptionPerson" id="receptionPerson" />
						</label> <label for="entourage"> <span>陪同人员</span> <input
							name="entourage" id="entourage" value="" />
						</label> <label for="receptionNum"> <span>接待人数</span> <input
							name="receptionNum" id="receptionNum" value="" />
						</label> <label for="description"> <span>描述</span> <input
							name="description" id="description" value="" />
						</label> <label for="receptionDays"> <span>接待天数</span> <input
							name="receptionDays" id="receptionDays" value="" />
						</label> <label for="remark"> <span>备注</span> <input name="remark"
							id="remark" value="" />
						</label>

					</div>
				</div>
				<b>---------------------------用餐记录------------------------------------</b>
				<div class="tab">
					<table border="1" cellspacing="0" cellpadding="0" class="tabTitle">
						<thead>
							<tr>
								<th>酒店</th>
								<th>套餐编号</th>
								<th>用餐时间</th>
								<th>用餐喜好</th>
								<th>登记时间</th>
								<th>备注</th>
								<th></th>
							</tr>
						</thead>
					</table>
					
					<table border="1" cellspacing="0" cellpadding="0" class="tabTbody">
						<tbody id="table1">
							<tr>
								<td><select><option>东方酒店</option></select></td>
								<td><select><option>套餐一</option></select></td>
								<td><input type="text" name="" id="" value="" /></td>
								<td><input type="text" name="" id="" value="喜清淡" /></td>
								<td><input type="text" name="" id="" value="" /></td>
								<td><input type="text" name="" id="" value="空" /></td>
							</tr>
						</tbody>
					</table>
				</div>

				<b>---------------------------住房记录------------------------------------</b>
				<div class="tab">
					<table border="1" cellspacing="0" cellpadding="0" class="tabTitle">
						<thead>
							<tr>
								<th>酒店</th>
								<th>房间号</th>
								<th>入住时间</th>
								<th>退房时间</th>
								<th>宾客喜好</th>
								<th>登记时间</th>
								<th>备注</th>
								<th></th>
							</tr>
						</thead>
					</table>
					<table border="1" cellspacing="0" cellpadding="0" class="tabTbody">
						<tbody id="table2">
							<tr>
								<td><input type="text" name="" id="" value="" /></td>
								<td><select><option>东方酒店</option></select></td>
								<td><input type="text" name="" id="" value="101" /></td>
								<td><input type="text" name="" id="" value="" /></td>
								<td><input type="text" name="" id="" value="" /></td>
								<td><input type="text" name="" id="" value="喜阳光" /></td>
								<td><input type="text" name="" id="" value="" /></td>
								<td><input type="text" name="" id="" value="空" /></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="mfoot" align="center">
				<button id="update" onclick="editSubmit()" class="none">
					<u class="confirm lt"></u> <span class="lt">确定</span>
				</button>
				<button id="print">
					<u class="dy lt"></u> <span class="lt">打印</span>
				</button>
				<button onclick="$(this).parents('.modal').hide(800)">
					<u class="cancel lt"></u> <span class="lt">关闭</span>
				</button>
			</div>
		</div>
	</div>
	<script>
		// 新增 tr
		var tr = '<tr>'
			+ '<td><input type="text" name="" id="" value=""  onchange="trAdd(this)"/></td>'
			+ '<td><select><option>东方酒店</option></select></td>'
			+ '<td><input type="text" value="101" /></td>'
			+ '<td><input type="text" value="" /></td>'
			+ '<td><input type="text" value="喜清淡" /></td>'
			+ '<td><input type="text" value="" /></td>'
			+ '<td><input type="text" value="" /></td>'
			+ '</tr>';
		var tr2 = '<tr>'
			+ '<td><input type="text" name="" id="" value=""  onchange="trAdd(this)"/></td>'
			+ '<td><select><option>东方酒店</option></select></td>'
			+ '<td><input type="text" value="101" /></td>'
			+ '<td><input type="text" value="" /></td>'
			+ '<td><input type="text" value="" /></td>'
			+ '<td><input type="text" value="喜清光" /></td>'
			+ '<td><input type="text" value="" /></td>'
			+ '<td><input type="text" value="" /></td>'
			+ '</tr>';
		function trDel(tr) {
			$(tr).parent('td').parent('tr').remove();
		}
	
		// 操作 
		if ($(".Tmodal tbody input:checked").length >= 2) {
			console.log($("tbody input:checked").parents('tr').siblings().html())
			$("#contrast").on('click', function() {
				$(".contrast").parent(".modal").show();
			})
		}
	</script>
</body>
</html>
